body.roadie {
  margin: 15px;
  padding: 0;
  font-size: 16px;
}

body.roadie .navbar-default {
    margin-bottom: 9px;
}

#playlistloader {
    display:none;

}


.loader {
    display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	opacity: .95;
	background: url('/static/img/loading.gif') 50% 50% no-repeat #262626;
}

.thumbnail-container {
    min-width: 60px;
    min-height: 60px;
    display:inline-block;
    margin: 2px 5px;
}

.thumbnail-container img.thumb {
    display: block;
    margin: auto;
}

.context-menu li {
    cursor: pointer;
}

ul.dropdown-menu a {
    text-align:left;
}

li.username, td.username {
  text-transform: capitalize;
}

.recently-played-container table {
    font-size: 16px;
}

.navbar li.username img {
    height: 19px;
}

.release-counts-container {
    font-size: 14px;
    text-align:right;
    background-color: #5882FA;
    color: white;
    padding: 9px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

div.collection-container .artist {
  border-bottom: 1px solid #F2F2F2;
  padding-top: 6px;
}

div.collection-container a.external-link {
    margin: 27px 5px 0 5px;
}

div.collection-container .artist .thumbnail {
  padding-right: 5px;
}

div.collection-container ul {
  overflow: auto;
  font-family: monospace;
  font-size: 16px;
  list-style: none;
}

div.collection-container ul.tracks {
  max-height: 250px;
  overflow: auto;
}


.release-detail-container .artist-info img.thumb {
    margin: 2px 4px;
}

.release-detail-container .row.tracks .release-cd-container {
    display: block;
    height: 15px;
}


img.thumb {
    margin: 5px 5px 4px 2px;
}

.releases .thumb {
  margin-right: 8px;
}

.release-detail-container span.track-count-indicator,
.artist-detail-container span.release-sane-indicator {
    height: 25px;
    display: inline-block;
}

.release-info-container .release {
  display: inline-block;
  height: 425px;
  width: 430px;
  overflow-y: overlay;
  border: 1px solid #000;
  padding: 2px;
}

div.bordered {
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.edit-toolbar {
    margin-bottom: 15px;
}
.title img {
    margin-right: 5px;
}

.btn-toolbar .edit-locked {
    display: inline-block;
    height: 28px;
    margin: 5px 6px;
}

.release-info-container .release:nth-child(even),
.collections-container .collection:nth-child(odd),
.collection-container ul.collection li:nth-child(even),
.release-detail-container .row.tracks .track:hover {
    background-color: #161C23;
}

.release-detail-container .row.tracks {
    cursor: pointer;
}

ul.tracks {
    display: inline-block;
    margin:0;
    padding-left: 10px;
    padding-bottom: 15px;
}

h5.release-cd {
    margin-right: 8px;
}

ul.no-list-style {
    list-style: none;
}
.release-info-container ul.tracks span.trackNumber {
  width: 29px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: right;
}

.release-info-container ul.tracks span.title {
  width: 290px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}
.release-info-container ul.tracks span.length {
  width: 67px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: right;
}

.release-info-container .row {
  min-width: 450px;
}

.release-info-container .release .releasedate {
    max-width: 80px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
}

.release-info-container .release .releasetitle {
    max-width: 300px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow-x: hidden;
    text-align: left;
}

.counts-header h3 {
    margin-top: 4px;
}

.release-detail-container h2 {
    margin-top: 1px;
}

.release-detail-container h5 {
    margin:0;
    padding:0;
}

.release-detail-container .tracks {
    font-size: 18px;
}

.release-detail-container .lists span.label {
    max-width:350px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.release-detail-container .artist-info {
    display: inline-block;
    width: 90%;
}
.release-detail-container .artist-info img {
    width: 18px;
}

.recent-releases-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.recent-releases-container .release-info span.title {
    max-width: 480px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recent-releases .artist-info img {
    height: 30px;
}

.artist-detail-container .title h2 {
    margin-top: 0;
}

.artist-detail-container div.associated-artists li {
    display: inline-block;
    width: 100%;
}

.recent-releases h3 {
    margin-top: 0;
}

.release-detail-container .tracks .trackNumber {
    text-align: right;
}

.release-detail-container .tracks .title {
    width: 100%;
    text-align: left;
    display:inline-block;
}


/* Random Release Related */
.random-releases-container {
    margin-bottom: 10px;
}
.random-releases-container h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}
.random-releases-container .release {
    margin: 0 8px 8px 8px;
}
.random-releases-container button {
    width: 100%;
}
.random-releases-container .release .thumbnail-container {
    display: inherit;
}
.random-releases-container img {
    display:block;
    padding-bottom: 5px;
    padding-left: 9px;
    min-height: 65px;
    max-width: 69px;
}

/* Login/Logout Related */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Nested Dropdown Menu Related */
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#searchResults {
  width: 522px;
  top: 48px;
  position: absolute;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
#searchResults h5 {
    margin: 0;
    padding: 0;
}
#searchResults .search-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
  color: #999;
  border-bottom: 1px solid #F2F2F2;
}
#searchResults .search-suggestion a {
  text-decoration: none;
}
#searchResults .search-suggestion span.name:hover {
  color: yellow;

}
#searchResults .search-suggestion.search-cursor {
  color: #fff;
  background-color: #0097cf;

}
#searchResults .search-suggestion img {
    height: auto;
    width: 25px;
    margin-right: 6px;
}
#searchResults .search-title {
    text-shadow:none;
    color: #000000;
    font-size: 16px;
}
#searchResults div.elapsed-time {
    font-size: 12px;
    font-style: italic;
}

/* Rating Related */
.symbol {
  display: inline-block;
  border-radius: 50%;
  border: 5px double white;
  width: 30px;
  height: 30px;
}
.symbol-empty {
  background-color: #ccc;
}
.symbol-filled {
  background-color: black;
}
.rating-container {
    height: 20px;
    display: inline-block;
}
.rating-container > span {
    margin-left: 5px;
}
.release-detail-container .row.title .user-rating-container {
    margin-left: 72px;
}

.artist-detail-container .user-rating-container, .stats-container .user-rating-container {
    margin-left: 72px;
    margin-top: 5px;
    display: block;

}

.home-container .recently-played-container .user-rating-container {
    margin-left: 5px;
    display: block;
}


.row .insane-quick-edit {
    margin: 5px 10px;
    display: none;
}
