body.roadie {
  margin: 15px;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  background-color: #BDBDBD;
}

body.roadie .navbar-default {
    margin-bottom: 9px;
}

li.username {
  color: white;
  margin-top: 12px;
  display: inline-block;
  text-transform: capitalize;
}

.release-counts-container {
    font-size: 14px;
    text-align:right;
    background-color: #5882FA;
    color: white;
    padding: 9px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

div.collection-container .artist {
  border-bottom: 1px solid #F2F2F2;
  padding-top: 6px;
}

div.collection-container .artist .thumbnail {
  padding-right: 5px;
}

div.collection-container ul {
  overflow: auto;
  font-family: monospace;
  font-size: 16px;
  list-style: none;
}

div.collection-container ul.tracks {
  max-height: 250px;
  overflow: auto;
}


.artist .thumb {
  margin: 5px 0;
}

.releases .thumb {
  margin-right: 8px;
}

.release {
  display: inline-block;
  min-height: 400px;
  min-width: 430px;
}

div.bordered {
    border: 1px solid;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.edit-toolbar {
    margin-bottom: 15px;
}
.title img {
    margin-right: 5px;
}

.release-info-container .release:nth-child(even) {
    background-color: #A4A4A4;
}
.release-info-container ul.tracks {
    display: inline-block;
    margin-left: 0px;
}

.release-info-container ul.tracks {
    list-style: none;
}
.release-info-container ul.tracks span.title {
  width: 300px;
  display: inline-block;
  text-overflow: ellipsis;
  text-align: left;
}
.release-info-container .row {
  min-width: 450px;
}

.counts-header h3 {
    margin-top: 4px;
}

.release-detail-container h2 {
    margin-top:7px;
}

.release-detail-container h5 {
    margin:0;
    padding:0;
}

/* Login/Logout Related */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
