{% extends "layout.html" %}
{% block title %}{{ artist.name }}{% endblock %}
{% block header_content %}
{% endblock %}
{% block body_content %}
<div class="artist-detail-container" data-artist-id="{{ artist.roadieId }}" data-db-id="{{ artist.id }}">
    <div class="release-counts-container pull-right">
        <span class="release-count">Releases: <span class="badge" data-toggle="tooltip" data-placement="bottom"
                                                    title="Total Releases of Artist">{{ '%02d' % counts.releases }}</span></span>
        <span class="release-media-count">Media: <span class="badge" data-toggle="tooltip" data-placement="bottom"
                                                 title="Total Media of Artist">{{ '%03d' % counts.releaseMedia }}</span></span>
        <span class="track-count">Tracks: <span class="badge" data-toggle="tooltip" data-placement="bottom"
                                                title="Total Tracks of Artist">{{ '%03d' % (counts.tracks or 0) }}</span></span>
        {% if counts.missingTrackCount %}
        <span class="missing-track-count">Missing Tracks: <span class="label label-default label-as-badge label-danger"
                                                                data-toggle="tooltip" data-placement="bottom"
                                                                title="Missing Tracks of Artist">{{ '%03d' % counts.missingTrackCount }}</span></span>
        {% endif %}
        <span class="length-total">Time: <span class="badge" data-toggle="tooltip" data-placement="bottom"
                                               title="Total Playtime of Artist">{{ counts.length or '--:--' }}</span></span>
        <span class="filesize-total">File Size: <span class="badge" data-toggle="tooltip" data-placement="bottom"
                                                      title="Total Playtime of Artist">{{ counts.fileSize }}</span></span>
    </div>
    <div class="btn-toolbar edit-toolbar" role="toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <i class="fa fa-play"></i> Play <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a id="playAll" href="#">Play All</a></li>
                <li><a id="playAllShuffle" href="#">Play All (Shuffle)</a></li>
                <li><a id="playTopRated" href="#">Play Top Rated</a></li>
                <li><a id="playMostPopular" href="#">Play Most Popular</a></li>
            </ul>
        </div>
        <button id="searchInternetArtst" class="btn btn-default"><i class="fa fa-search"></i> Search Internet</button>
        {% if current_user.is_editor() %}
        <div class="btn-group">
            <a href="/artist/edit/{{ artist.roadieId }}"
               class="btn btn-warning"><i class="fa fa-edit"></i> Edit</a>
            {% if artist.isLocked == False %}
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fa fa-trash-o"></i> Delete <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a id="delete-artist"><i class="fa fa-trash-o"></i> Delete Artist</a></li>
                    <li><a id="deleteArtistReleases"><i class="fa fa-trash-o"></i> Delete All Releases</a></li>
                </ul>
            </div>
            <button id="scan-artist" class="btn btn-warning"><i class="fa fa-folder-open-o"></i> Re-Scan</button>
            {% endif %}
        </div>
        {% endif %}
        {% if artist.isLocked %}
        <span class="edit-locked label label-danger"><i class="fa fa-lock fa-2x" title="Artist Is Locked"></i></span>
        {% endif %}
    </div>
    <div class="row title bordered">
        <div class="thumbnail-container pull-left">
            <img class="thumb " src="/images/artist/thumbnail/{{ artist.roadieId }}" alt="{{ artist.name }}"/>
        </div>
        <div class="rating-container">
            <input type="hidden" class="rating" data-readonly value="{{ artist.rating }}"/>
        </div>
        <h2><span class="artist-name label label-default">{{ artist.name }}</span></h2>

        <div class="user-rating-container">
            <a href="#" class="dislike" title="Toggle Dislike Artist"><i
                    class="fa {{ 'fa-thumbs-down' if userArtist.isDisliked else 'fa-thumbs-o-down'}}"></i></a>
            <span class="reset-rating fa fa-square" title="Remove Rating"></span>
            <input type="hidden" class="user-rating rating" value="{{ userArtist.rating }}"/>
            <a href="#" class="favorite" title="Toggle Favorite Artist"><i
                    class="fa {{'fa-heart' if userArtist.isFavorite else 'fa-heart-o'}}"></i></a>
        </div>
    </div>
    <div class="row bordered">
        <div class="col-md-6">
            {% if artist.profile %}
            <div>
                <h4><span class="label label-primary">Profile</span></h4>

                <p>{{ artist.profile|safe }}</p>
            </div>
            {% endif %}
            <div>
                <h4><span class="label label-primary">Bio</span></h4>

                <p>{{ artist.bioContext|safe }}</p>
            </div>
        </div>

        <div class="col-md-6">
            {% for image in artist.images %}
            <div class="col-xs-4 col-sm-3 col-md-3 image-container">
                <a href="javascript:void(0);"
                   data-title="{{ image.caption }}"
                   data-url="/images/artist/{{ image.roadieId }}/2048/2048"
                   target="_blank" class="thumbnail">
                    <img data-image-id="{{ image.roadieId }}" data-toggle="context"
                         data-target="#context-menu-{{ image.roadieId }}"
                         src="/images/artist/{{ image.roadieId }}/512/512" alt="Image"/>
                </a>
            </div>
            <div id="context-menu-{{ image.roadieId }}" data-image-id="{{ image.roadieId }}" class="context-menu">
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a class="setArtistImage" tabindex="-1"><i class="fa fa-file-image-o"></i> Set as Artist
                        Image</a>
                    </li>
                    <li>
                        <a class="deleteArtistImage" tabindex="-1"><i class="fa fa-trash-o"></i> Delete Artist Image</a>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row details bordered">
        <div class="col-md-3">
            {% if artist.sortName %}
            <div>
                <h4><span class="label label-primary">Sort Name</span></h4>
                <span class="label label-default">{{ artist.sortName }}</span>
            </div>
            {% endif %}
            {% if artist.realName %}
            <div>
                <h4><span class="label label-primary">Real Name</span></h4>
                <span class="label label-default">{{ artist.realName }}</span>
            </div>
            {% endif %}
        </div>
        <div class="col-md-3">
            <div>
                <h4><span class="label label-primary">Artist Type</span></h4>
                <span class="label label-default">{{ artist.artistType }}</span>
            </div>
            <div>
                <h4><span class="label label-primary">MusicBrainz Id</span></h4>
                {% if artist.musicBrainzId %}
                <a href="https://musicbrainz.org/artist/{{ artist.MusicBrainzId }}" target="_blank"><span
                        class="label label-default">{{ artist.musicBrainzId }}</span></a>
                {% else %}
                <span class="label label-default">None</span>
                {% endif %}
            </div>
        </div>
        <div class="col-md-3">
            {% if artist.birthDate %}
            <div>
                <h4><span class="label label-primary">BirthDate</span></h4>
                <span class="label label-default">{{ artist.birthDate|format_age_from_date }}</span>
            </div>
            {% endif %}
            {% if artist.beginDate %}
            <div>
                <h4><span class="label label-primary">Begin Date</span></h4>
                <span class="label label-default">{{ artist.beginDate|format_age_from_date }}</span>
            </div>
            {% endif %}
            {% if artist.endDate %}
            <div>
                <h4><span class="label label-primary">End Date</span></h4>
                <span class="label label-default">{{ artist.endDate }}</span>
            </div>
            {% endif %}
        </div>
        <div class="col-md-3 associated-artists">
            {% if artist.associatedArtists %}
            <h4><span class="label label-primary">Associated Artists</span></h4>
            <ul>
                {% for artist in artist.associatedArtists|sort(attribute='name') %}
                <li>
                    <a href="/artist/{{ artist.roadieId }}">
                        <div class="thumbnail-container pull-left">
                            <img class="thumb " src="/images/artist/thumbnail/{{ artist.roadieId }}"
                                 alt="{{ artist.name }}"/>
                        </div>
                        <h3><span class="label label-default">{{ artist.name }}</span></h3>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    {% if artist.alternateNames or artist.tags or artist.urls %}
    <div class="row lists bordered">
        <div class="col-md-4">
            {% if artist.alternateNames %}
            <h4><span class="label label-primary">Alternate Names</span></h4>
            <input type="text" disabled class="form-control tokenfield-readonly" id="alternateNamesTokenfield"
                   value="{{ artist.alternateNames|sort|join('|') }}" />
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if artist.tags %}
            <h4><span class="label label-primary">Tags</span></h4>
            <input type="text" disabled class="form-control tokenfield-readonly" id="tagTokenfield"
                   value="{{ artist.tags|sort|join('|') }}"/>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if artist.urls %}
            <h4><span class="label label-primary">Urls</span></h4>
            <ul class="urls">
                {% for url in artist.urls %}
                <li><a href="{{ url }}" target="_blank"><span class="label label-default">{{ url }}</span></a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="release-info-container">
        <div class="row bordered">
            {% for release in releases|sort(attribute='releaseDate') %}
            <div class="release pull-left" draggable="true" data-release-id="{{ release.roadieId }}">
                <div>
                    <img class="pull-left thumb" src="/images/release/thumbnail/{{ release.roadieId}}"
                         alt="{{ release.title }}"/>
                    <a href="/release/{{ release.roadieId }}">
                        <h4><span class="label label-info releasedate">{{ release.releaseDate.strftime('%Y') }}</span>
                            <span data-toggle="tooltip"
                                  data-placement="top"
                                  title="{{ release.Title }}"
                                  class="release-title label {{ 'label-danger' if (release.media.trackCount == 0) else 'label-default' }} releasetitle">{{ release.title }}</span>
                        </h4>
                    </a>
                </div>
                <div class="release-media-container">
                    {% for media in release.media|sort(attribute='releaseMediaNumber') %}
                    <div class="release-media" data-releasemedianumber="{{ media.releaseMediaNumber }}" data-track-count="{{ media.trackCount }}">
                        {% if media.releaseSubTitle %}
                        <h5 class="release-subtitle"><span class="label label-success pull-right">{{ media.releaseSubTitle }}</span>
                        </h5>
                        {% endif %}
                        <h5 class="release-cd"><span class="label label-success pull-right">CD {{ media.releaseMediaNumber }}</span>
                        </h5>
                        <ul class="tracks no-list-style">
                            {% for track in media.tracks|sort(attribute='trackNumber') %}
                            <li>
                                <span class="trackNumber label label-primary {{ '' if track.fileName else 'missing' }}">{{ '%02d' % track.trackNumber }} </span>
                                <span data-toggle="tooltip" data-placement="top" title="{{ track.Title }}"
                                      class="title label label-default">{{ track.title }}</span>
                                <span class="length label label-info">{{ track.duration|format_tracktime() }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% if current_user.is_editor() %}
    <div class="folder-info">
        <div class="row bordered">
            <h4><span class="label label-primary">Release Folders</span></h4>
            <ol>
                {% for folder in artistFolders %}
                <li><span class="folder-release-title label label-default">{{ folder[0] }}</span><span class="folder-name label label-info">{{ folder[1] }}</span></li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row lists bordered danger insane-messages" style="display:none;">
        <dl></dl>
    </div>
    {% endif %}
    <div class="meta pull-right">
        <p><span class="label label-info">Last Modified: {{ (artist.lastUpdated or artist.createdDate)|format_datetime_for_user(user=g.user) }}</span></p>
    </div>
</div>
{% endblock %}
{% block script_content %}
<script type="text/javascript">
    var artistId = '{{ artist.roadieId }}';

    var showInsaneMessage = function(message) {
        $("div.insane-messages dl:first").append("<dd class='label label-danger'>" + message + "</dd>").parent().show();
    };

    var doArtistSanityChecks = function() {
        checkReleaseMediaTrackCount();

        var $c = $("div.release-counts-container");
        $c.find(".release-sane-indicator").remove();
        var isSane = areNoInvalidReleasesFound();
        isSane = isSane && noTracksAreMissing();
        if(isSane) {
            $c.append("<span class='release-sane-indicator release-sane label label-success' title='Artist Seems Sane!'><i class='fa fa-check-square-o fa-2x'></i></span>");
        } else {
            $c.append("<span class='release-sane-indicator release-insane label label-danger' title='Artist Has Issues'><i class='fa fa-square-o fa-2x'></i></span>");
        }
    };

    var noTracksAreMissing = function() {
        return $(".artist-detail-container span.trackNumber.missing").length === 0;
    };

    var checkReleaseMediaTrackCount = function() {
        $.each($(".release-media"), function(i, d) {
            var $t = $(this);
            var tracksFound = $t.find("li").length;
            var trackCount = parseInt($t.data('track-count'));
            var hasMissingTracks = $t.find("span.trackNumber.missing").length;
            if (tracksFound !== trackCount || hasMissingTracks > 0) {
                var $r = $t.closest("div.release").find(".release-title")
                var releaseName = $r.text();
                showInsaneMessage("Release Counts Insane!, Release [" + releaseName + "]: tracksFound [" + tracksFound + "], trackCount [" + trackCount + "], hasMissingTracks [" + hasMissingTracks + "]");
                $r.addClass("label-danger").removeClass("label-default");
            }
        });
    };

    var areNoInvalidReleasesFound = function() {
        var r = $("span.release-title.label-danger").length === 0;
        if(!r) {
            showInsaneMessage("Found Invalid Releases");
        }
    };

    $(function() {

        $(".tokenfield-readonly").tokenfield({
            delimiter: "|"
        });

        doArtistSanityChecks();

        $(".user-rating-container a.dislike").on("click", function(e) {
            var $i =  $(this).find("i:first");
            var toggle = !$i.hasClass("fa-thumbs-down");
            $.ajax({
                type: 'POST',
                url: '/user/artist/toggledislike/' + artistId + '/' + toggle,
                contentType: "application/javascript",
                success: function(data) {
                    if(data.message == "OK") {
                        roadieLibrary.showSuccessMessage("Successfully Toggled Dislike");
                        if(toggle) {
                            $i.removeClass("fa-thumbs-o-down").addClass("fa-thumbs-down");
                            $(".user-rating-container input.rating").rating('rate',0);
                            $(".rating-container input.rating").rating('rate', data.average);
                        } else {
                            $i.removeClass("fa-thumbs-down").addClass("fa-thumbs-o-down");
                        }
                    }
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });
        $(".user-rating-container a.favorite").on("click", function(e) {
            var $i =  $(this).find("i:first");
            var toggle = !$i.hasClass("fa-heart");
            $.ajax({
                type: 'POST',
                url: '/user/artist/togglefavorite/' + artistId + '/' + toggle,
                contentType: "application/javascript",
                success: function(data) {
                    if(data.message == "OK") {
                        roadieLibrary.showSuccessMessage("Successfully Toggled Favorite");
                        if(toggle) {
                            $i.removeClass("fa-heart-o").addClass("fa-heart");
                        } else {
                            $i.removeClass("fa-heart").addClass("fa-heart-o");
                        }
                    }
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });
        $(".user-rating-container input.rating").on("change", function(e) {
            $.ajax({
                type: 'POST',
                url: '/user/artist/setrating/' + artistId + '/' + $(this).rating('rate'),
                contentType: "application/javascript",
                success: function(data) {
                    if(data.message == "OK") {
                        $(".rating-container input.rating").rating('rate', data.average);
                        roadieLibrary.showSuccessMessage("Successfully Set Rating");
                    }
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });

        $(".user-rating-container span.reset-rating").on("click", function(e) {
            var $rc = $(this).siblings("input.rating");
            $.ajax({
                type: 'POST',
                url: '/user/artist/setrating/' + artistId + '/0',
                contentType: "application/javascript",
                success: function(data) {
                    if(data.message == "OK") {
                        $rc.rating('rate', 0);
                        $(".rating-container input.rating").rating('rate', data.average);
                        roadieLibrary.showSuccessMessage("Successfully Removed Rating");
                    }
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });

        $("#playAll").on("click", function(e) {
            roadieLibrary.playLoader("/artist/play/" + artistId + "/0");
        });
        $("#playAllShuffle").on("click", function(e) {
            roadieLibrary.playLoader("/artist/play/" + artistId + "/1");
        });
        $(".artist-detail-container a.thumbnail").on("click", function(e) {
            var $t = $(this);
            bootbox.dialog({
                title: $t.data("title"),
                size: 'large',
                message: '<img src="' + $t.data("url") + '" style="max-width: 100%;" />'
            });
        });

        $("#scan-artist").on("click", function(e) {
            bootbox.confirm("Continue To Re-Scan Artist Release Folder(s)?", function(result) {
                if(result) {
                    $(".loader").fadeIn("slow", function() {
                        $.ajax({
                            type: 'POST',
                            url: '/artist/rescan/' + artistId,
                            contentType: "application/javascript",
                            success: function(data) {
                                if(data.message == "OK") {
                                    location.reload(true);
                                } else {
                                    roadieLibrary.showErrorMessage("An Error Occurred");
                                }
                            },
                            error:function(jq, st, error){
                                roadieLibrary.showErrorMessage(error);
                            }
                        });
                    });
                }
            });
        });

        $("#delete-artist").on("click", function(e) {
            bootbox.confirm("Continue To Delete Artist?", function(result) {
                if(result) {
                    var $t = $(this);
                    $.ajax({
                        type: 'POST',
                        url: '/artist/delete/' + artistId,
                        contentType: "application/javascript",
                        success: function(data) {
                            if(data.message == "OK") {
                                window.location.href = '/';
                            }
                        },
                        error:function(jq, st, error){
                            roadieLibrary.showErrorMessage(error);
                        }
                    });
                }
            });
        });
        $("a.setArtistImage").on("click", function(e) {
            var $t = $(this);
            var imageId = $t.parents(".context-menu").data("image-id");
            $.ajax({
                type: 'POST',
                url: '/artist/setimage/' + artistId + '/' + imageId,
                contentType: "application/javascript",
                success: function(data) {
                    $(".artist-detail-container .title img.thumb").attr("src", "/images/artist/thumbnail/" + artistId + "?" + new Date().getTime());
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });

        $("a.deleteArtistImage").on("click", function(e) {
            var $t = $(this);
            bootbox.confirm("Continue To Delete Artist Image?", function(result) {
                if(result) {
                    var imageId = $t.parents(".context-menu").data("image-id");
                    $.ajax({
                        type: 'POST',
                        url: '/artist/deleteimage/' + artistId + '/' + imageId,
                        contentType: "application/javascript",
                        success: function(data) {
                            $("img[data-image-id='" + imageId + "']").closest("div.image-container").remove();
                        },
                        error:function(jq, st, error){
                            roadieLibrary.showErrorMessage(error);
                        }
                    });
                }
            });
        });

        $("#deleteArtistReleases").on("click", function(e) {
            bootbox.confirm("Continue To Delete All Artist Releases?", function(result) {
                if(result) {
                    $.ajax({
                        type: 'POST',
                        url: '/artist/deletereleases/' + artistId,
                        contentType: "application/javascript",
                        success: function(data) {
                            if(data.message == "OK") {
                                location.reload(true);
                            }
                        },
                        error:function(jq, st, error){
                            roadieLibrary.showErrorMessage(error);
                        }
                    });
                }
            });
        });

        $("#searchInternetArtst").on("click", function() {
            roadieLibrary.doInternetSearch($("span.artist-name").text() + " Band");
        });

        $("div.release").on("dragstart", function(e) {
            e.dataTransfer.setData('text/plain', $(this).data("release-id"));
        }).on("dragenter dragover", function(e) {
            e.preventDefault();
            $(this).addClass("drag-highlight");
        }).on("dragleave", function(e) {
            e.preventDefault();
            $(this).removeClass("drag-highlight");
        }).on("drop", function(e) {
            e.preventDefault();
            $(this).removeClass("drag-highlight");
            var releaseIdToMerge = e.dataTransfer.getData('text/plain');
            var releaseIdMergeInto = $(this).data("release-id");
            if(releaseIdToMerge && releaseIdMergeInto) {
                var releaseToMergeTitle = $(".release[data-release-id='" + releaseIdToMerge + "']").find("span.release-title").text();
                var releaseToMergeYear = $(".release[data-release-id='" + releaseIdToMerge + "']").find("span.releasedate").text();
                var releaseMergeIntoTitle = $(this).find("span.release-title").text();
                var releaseMergeIntoYear = $(this).find("span.releasedate").text();
                bootbox.dialog({
                    title: "Merge Releases",
                    message: '<div class="row">  ' +
                        '<div class="col-md-12"> ' +
                        '<form class="form-horizontal"> ' +
                        '<div class="form-group"> ' +
                        '<div>Continue to Merge Release:</div> ' +
                        '<div><span class="label label-info">' + releaseToMergeYear + '</span><span class="label label-default">' + releaseToMergeTitle + '</span></div>' +
                        '<div>Into Release:</div> ' +
                        '<div><span class="label label-info">' + releaseMergeIntoYear + '</span><span class="label label-default"> ' + releaseMergeIntoTitle + '</span></div>' +
                        '<div class="form-group"><label class="col-md-7 control-label" for="add_as_media">Add Release as Media (ie "CD2")?</label> ' +
                        '<div class="col-md-4 checkbox"><label><input type="checkbox" name="add_as_media" id="add_as_media" value="True" checked="checked">Yes</label>' +
                        '</div></div>' +
                        '</form></div></div>',
                    buttons: {
                        cancel: {
                            label: "Cancel",
                            className: "btn-default"
                        },
                        success: {
                            label: "Save",
                            className: "btn-danger",
                            callback: function () {
                                var addAsMedia = $("input[name='add_as_media']:checked").val();
                                $(".loader").fadeIn("slow", function() {
                                    $.ajax({
                                        type: 'POST',
                                        url: '/mergereleases/' + releaseIdToMerge + '/' + releaseIdMergeInto + '/' + addAsMedia,
                                        success: function(data) {
                                            if(data.message == "OK") {
                                                location.reload(true);
                                            }
                                        },
                                        error:function(jq, st, error){
                                            roadieLibrary.showErrorMessage(error);
                                        }
                                    });
                                });
                            }
                        }
                    }
                });
            }
        });

    });

</script>
{% endblock %}