{% extends "layout.html" %}
{% block title %}{{ artist.name }}{% endblock %}
{% block header_content %}
{% endblock %}
{% block body_content %}
<div class="artist-detail-container" data-artist-id="{{ artist.roadieId }}" data-db-id="{{ artist.id }}">
    <div class="release-counts-container pull-right">
        <span class="release-count">Releases: <span class="badge" data-toggle="tooltip" data-placement="bottom"
                                                    title="Total Releases of Artist">{{ '%02d' % counts.releases }}</span></span>
        <span class="release-media-count">Media: <span class="badge" data-toggle="tooltip" data-placement="bottom"
                                                 title="Total Media of Artist">{{ '%03d' % counts.releaseMedia }}</span></span>
        <span class="track-count">Tracks: <span class="badge" data-toggle="tooltip" data-placement="bottom"
                                                title="Total Tracks of Artist">{{ '%03d' % (counts.tracks or 0) }}</span></span>
        {% if counts.missingTrackCount %}
        <span onclick="javascript:$('#showMissingItems').click();" class="missing-track-count clickable">Missing Tracks: <span class="label label-default label-as-badge label-danger"
                                                                data-toggle="tooltip" data-placement="bottom"
                                                                title="Missing Tracks of Artist">{{ '%03d' % counts.missingTrackCount }}</span></span>
        {% endif %}
        <span class="length-total">Time: <span class="badge" data-toggle="tooltip" data-placement="bottom"
                                               title="Total Playtime of Artist">{{ counts.length or '--:--' }}</span></span>
        <span class="filesize-total">File Size: <span class="badge" data-toggle="tooltip" data-placement="bottom"
                                                      title="Total Playtime of Artist">{{ counts.fileSize }}</span></span>
    </div>
    <div class="btn-toolbar edit-toolbar" role="toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <i class="fa fa-play"></i> Play <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a id="playAll" href="#">Play All</a></li>
                <li><a id="playAllShuffle" href="#">Play All (Shuffle)</a></li>
                <li><a id="playTopRated" href="#">Play Top Rated</a></li>
                <li><a id="playMostPopular" href="#">Play Most Popular</a></li>
            </ul>
        </div>
        <button id="searchInternetArtst" class="btn btn-default"><i class="fa fa-search"></i> Search Internet</button>
        {% if current_user.is_editor() %}
        <div class="btn-group">
            <a href="/artist/edit/{{ artist.roadieId }}"
               class="btn btn-warning"><i class="fa fa-edit"></i> Edit</a>
            <a id="findArtistArt" class="btn btn-warning"><i class="fa fa-picture-o"></i> Find Artist Image</a>
            {% if artist.isLocked == False %}
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fa fa-trash-o"></i> Delete <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a id="delete-artist"><i class="fa fa-trash-o"></i> Delete Artist</a></li>
                    <li><a id="deleteArtistReleases"><i class="fa fa-trash-o"></i> Delete All Releases</a></li>
                </ul>
            </div>
            <button id="scan-artist" class="btn btn-warning"><i class="fa fa-folder-open-o"></i> Re-Scan</button>
            {% endif %}
        </div>
        {% endif %}
        {% if artist.isLocked %}
        <span class="edit-locked label label-danger"><i class="fa fa-lock fa-2x" title="Artist Is Locked"></i></span>
        {% endif %}
    </div>
    <div class="row title bordered">
        <div class="thumbnail-container pull-left">
            <img id="artist-thumbnail" class="thumb " src="/images/artist/thumbnail/{{ artist.roadieId }}" alt="{{ artist.name }}"/>
        </div>
        <div class="rating-container">
            <input type="hidden" class="rating" data-readonly value="{{ artist.rating }}"/>
        </div>
        <h2><span class="artist-name label label-default">{{ artist.name }}</span></h2>

        <div class="user-rating-container">
            <a href="#" class="dislike" title="Toggle Dislike Artist"><i
                    class="fa {{ 'fa-thumbs-down' if userArtist.isDisliked else 'fa-thumbs-o-down'}}"></i></a>
            <span class="reset-rating fa fa-square" title="Remove Rating"></span>
            <input type="hidden" class="user-rating rating" value="{{ userArtist.rating }}"/>
            <a href="#" class="favorite" title="Toggle Favorite Artist"><i
                    class="fa {{'fa-heart' if userArtist.isFavorite else 'fa-heart-o'}}"></i></a>
        </div>
    </div>
    <div class="row bordered">
        <div class="col-md-6">
            {% if artist.profile %}
            <div>
                <h4><span class="label label-primary">Profile</span></h4>
                <div class="profile-container">
                {{ artist.profile|safe }}
                </div>
            </div>
            {% endif %}
            <div>
                <h4><span class="label label-primary">Bio</span></h4>
                <div class="bioContext-container">
                    {{ artist.bioContext|safe }}
                </div>
            </div>
        </div>

        <div class="col-md-6 artist-image-container">
            {% for image in artist.images %}
            <div class="col-xs-4 col-sm-3 col-md-3 image-container">
                <a href="javascript:void(0);"
                   data-title="{{ image.caption }}"
                   data-url="/images/artist/{{ image.roadieId }}/2048/2048"
                   class="thumbnail">
                    <img data-image-id="{{ image.roadieId }}" data-toggle="context"
                         data-target="#context-menu-{{ image.roadieId }}"
                         src="/images/artist/{{ image.roadieId }}/512/512" alt="Image"/>
                </a>
            </div>
            <div id="context-menu-{{ image.roadieId }}" data-image-id="{{ image.roadieId }}" class="context-menu">
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a class="setArtistImage" tabindex="-1"><i class="fa fa-file-image-o"></i> Set as Artist
                        Image</a>
                    </li>
                    <li>
                        <a class="deleteArtistImage" tabindex="-1"><i class="fa fa-trash-o"></i> Delete Artist Image</a>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row details bordered">
        <div class="col-md-3">
            {% if artist.sortName %}
            <div>
                <h4><span class="label label-primary">Sort Name</span></h4>
                <span class="label label-default">{{ artist.sortName }}</span>
            </div>
            {% endif %}
            {% if artist.realName %}
            <div>
                <h4><span class="label label-primary">Real Name</span></h4>
                <span class="label label-default">{{ artist.realName }}</span>
            </div>
            {% endif %}
        </div>
        <div class="col-md-3">
            <div>
                <h4><span class="label label-primary">Artist Type</span></h4>
                <span class="label label-default artist-type">{{ artist.artistType }}</span>
            </div>
            <div>
                {% if artist.musicBrainzId %}
                <h4><span class="label label-primary">MusicBrainz Id</span></h4>
                <a href="https://musicbrainz.org/artist/{{ artist.musicBrainzId }}" target="_blank"><span
                        class="label label-default">{{ artist.musicBrainzId }}</span></a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-3">
            {% if artist.birthDate %}
            <div>
                <h4><span class="label label-primary">BirthDate</span></h4>
                <span class="label label-default">{{ artist.birthDate|format_age_from_date }}</span>
            </div>
            {% endif %}
            {% if artist.beginDate %}
            <div>
                <h4><span class="label label-primary">Begin Date</span></h4>
                <span class="label label-default">{{ artist.beginDate|format_age_from_date }}</span>
            </div>
            {% endif %}
            {% if artist.endDate %}
            <div>
                <h4><span class="label label-primary">End Date</span></h4>
                <span class="label label-default">{{ artist.endDate }}</span>
            </div>
            {% endif %}
        </div>
    </div>
    {% if artist.associatedArtists %}
    <div class="row lists bordered">
        <div class="col-md-12 associated-artists">
            <h4><span class="label label-primary">Associated Artists</span></h4>
            <ul class="multi-column four-column">
                {% for artist in artist.associatedArtists|sort(attribute='name') %}
                <li>
                    <a href="/artist/{{ artist.roadieId }}">
                        <div class="thumbnail-container pull-left">
                            <img class="thumb " src="/images/artist/thumbnail/{{ artist.roadieId }}"
                                 alt="{{ artist.name }}"/>
                        </div>
                        <h3><span class="label label-default">{{ artist.name }}</span></h3>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% if artist.associatedWithArtists %}
    <div class="row lists bordered">
        <div class="col-md-12 associated-artists">
            <h4><span class="label label-primary">Associated With Artists</span></h4>
            <ul class="multi-column four-column">
                {% for artist in artist.associatedWithArtists|sort(attribute='name') %}
                <li>
                    <a href="/artist/{{ artist.roadieId }}">
                        <div class="thumbnail-container pull-left">
                            <img class="thumb " src="/images/artist/thumbnail/{{ artist.roadieId }}"
                                 alt="{{ artist.name }}"/>
                        </div>
                        <h3><span class="label label-default">{{ artist.name }}</span></h3>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% if artist.alternateNames or artist.tags or artist.genres or artist.urls %}
    <div class="row lists bordered">
        <div class="col-md-3">
            {% if artist.alternateNames %}
            <h4><span class="label label-primary">Alternate Names</span></h4>
            <input type="text" disabled class="form-control tokenfield-readonly" id="alternateNamesTokenfield"
                   value="{{ artist.alternateNames|sort|join('|') }}" />
            {% endif %}
        </div>
        <div class="col-md-3">
            {% if artist.genres %}
            <h4><span class="label label-primary">Genres</span></h4>
            <input type="text" disabled class="form-control tokenfield-readonly" id="genreTokenfield"
                   value="{{ artist.genres|join('|') }}"/>
            {% endif %}
        </div>
        <div class="col-md-3">
            {% if artist.tags %}
            <h4><span class="label label-primary">Tags</span></h4>
            <input type="text" disabled class="form-control tokenfield-readonly" id="tagTokenfield"
                   value="{{ artist.tags|sort|join('|') }}"/>
            {% endif %}
        </div>
        <div class="col-md-3">
            {% if artist.urls %}
            <h4><span class="label label-primary">Urls</span></h4>
            <ul class="urls">
                {% for url in artist.urls %}
                    <li>
                        <a href="{{ url }}" target="_blank"
                           data-toggle="tooltip" data-placement="top"
                           title="{{url }}">
                            <span class="label label-default">{{ url }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="release-info-container">
        <div class="row bordered">
            <div>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#releases" aria-controls="releases" role="tab" data-toggle="tab">Releases</a></li>
                {% if compilations %}
                <li role="presentation"><a href="#compilations" aria-controls="compilations" role="tab" data-toggle="tab">Compilations</a></li>
                {% endif %}
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="releases">
                    <div class="release-options">
                        <input placeholder="Filter" class="release-filter form-control pull-right" id="artistReleaseFilter" type="text" title="Filter Artist Release And Tracks" />
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active" title="Sort Releases By Release Date">
                                <input type="radio" id="sortReleasesByReleaseYear" name="releaseSort" checked="checked" value="year" /><i class="fa fa-sort-numeric-asc"></i> Release Date
                            </label>
                            <label class="btn btn-primary" title="Sort Releases By Release Title">
                                <input type="radio" id="sortReleasesByTitle" name="releaseSort" value="title" /><i class="fa fa-sort-alpha-asc"></i> Title
                            </label>
                        </div>
                        <button id="showMissingItems" class="btn btn-primary"><i class="fa fa-filter"></i> Show Missing</button>
                    </div>
                   {% for release in releases %}
                    <div class="release pull-left"
                         draggable="true"
                         data-release-id="{{ release.roadieId }}"
                         data-release-track-count="{{ release.trackCount }}">
                        <div>
                            <img class="pull-left thumb" src="/images/release/thumbnail/{{ release.roadieId}}"
                                 alt="{{ release.title }}"/>
                            <a href="/release/{{ release.roadieId }}">
                                <h4><span class="label label-info releasedate">{{ release.releaseDate.strftime('%Y') if release.releaseDate else '' }}</span>
                                    <span data-toggle="tooltip"
                                          data-placement="top"
                                          title="{{ release.title }}"
                                          class="release-title label {{ 'label-danger' if (release.media.trackCount == 0) else 'label-default' }} releasetitle">{{ release.title }}</span>
                                    <span class="hidden rating">{{ release.rating }}</span>
                                </h4>
                            </a>
                        </div>
                        <div class="release-media-container">
                            {% for media in release.media|sort(attribute='releaseMediaNumber') %}
                            <div class="release-media" data-releasemedianumber="{{ media.releaseMediaNumber }}" data-track-count="{{ media.trackCount }}">
                                {% if media.releaseSubTitle %}
                                <h5 class="release-subtitle"><span class="label label-success pull-right">{{ media.releaseSubTitle }}</span>
                                </h5>
                                {% endif %}
                                <h5 class="release-cd"><span class="label label-success pull-right">CD {{ media.releaseMediaNumber }}</span>
                                </h5>
                                <ul class="tracks no-list-style">
                                    {% for track in media.tracks|sort(attribute='trackNumber') %}
                                    <li class="track">
                                        <span class="trackNumber label label-primary {{ '' if track.fileName else 'missing' }}">{{ '%02d' % track.trackNumber }} </span>
                                        <span data-toggle="tooltip" data-placement="top" title="{{ track.title }}"
                                              class="title label label-default">{{ track.title }}</span>
                                        <span class="length label label-info">{{ track.duration|format_tracktime() }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div role="tabpanel" class="tab-pane" id="compilations">
                    {%for compilation in compilations %}
                    <div class="compilation-release pull-left" data-release-id="{{ compilation.roadieId }}">
                        <a href="/release/{{ compilation.roadieId }}">
                            <div class="thumbnail-container pull-left">
                                <img class="release-thumb" src="/images/release/thumbnail/{{ compilation.roadieId }}"
                                     alt="{{ compilation.title }}"/>
                            </div>
                        </a>
                        <div class="artist-info">
                            <a title="View Artist" href="/artist/{{ compilation.artist.roadieId }}">
                            <img class="thumb pull-left"
                                 src="/images/artist/thumbnail/{{ compilation.artist.roadieId }}"
                                 alt="{{ compilation.artist.name }}"/>
                            <h5><span data-toggle="tooltip"
                                      data-placement="top"
                                      title="{{ compilation.artist.name }}"
                                      class="label label-info">{{ compilation.artist.name }}</span></h5>
                            </a>
                        </div>
                        <div class="release-rating-container">
                            <input type="hidden" class="rating" data-readonly value="{{ compilation.rating }}"/>
                        </div>
                        <a href="/release/{{ compilation.roadieId }}">
                            <h3 class="album-title">
                                <span data-toggle="tooltip"
                                      data-placement="top"
                                      title="{{ compilation.title }}"
                                      class="label label-default">{{ compilation.title }}</span>
                            </h3>
                        </a>
                    </div>
                    {% endfor %}
                </div>
              </div>
            </div>
        </div>
    </div>
    {% if current_user.is_editor() %}
    <div class="folder-info">
        <div class="row bordered">
            <h4><span class="label label-primary">Release Folders</span></h4>
            <ol>
                {% for folder in artistFolders %}
                <li><span class="folder-release-title label label-default">{{ folder[0] }}</span><span class="folder-name label label-primary">{{ folder[1] }}</span></li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="row lists bordered danger insane-messages" style="display:none;">
        <dl></dl>
    </div>
    {% endif %}
    <div class="meta pull-right">
        <p><span class="label label-info">Last Modified: {{ (artist.lastUpdated or artist.createdDate)|format_datetime_for_user(user=g.user) }}</span></p>
    </div>
</div>
{% endblock %}
{% block script_content %}
<script type="text/javascript">
    var artistId = '{{ artist.roadieId }}';
    var selectedCoverUrl = null;

    var buildHtmlForImageSearch = function(data) {
        var html = '<div class="image-search-results">';
        html += '<div class="image-search-query form-group"><input class="form-control" onKeyDown="doImageSearch(event)" id="query" type="text" value="' + decodeURIComponent(data.query) + '" /></div>';
        $.each(data.data, function(i,d) {
            html += '<div class="image-search-result pull-left"><a href="#">';
            html += '<img src="' + d.url + '" />';
            html += '<div><span class="label label-default">' + d.width + 'x' + d.height + '</span></div></div>';
        });
        html += '</div>';
        html += '<script>$(".image-search-results").on("click", ".image-search-result a", function(e) { var $t = $(this); selectedCoverUrl = $t.find("img").attr("src"); $(".image-search-result").removeClass("selected"); $t.closest("div").addClass("selected"); });<\/script>';
        return html;
    };

    var doImageSearch = function(e) {
        if(e.keyCode == 13){
			e.preventDefault();
			e.stopPropagation();
            var query = $(e.target).val();
            $.ajax({
                type: 'POST',
                url: '/images/find/a/' + artistId,
                data: { "query": encodeURIComponent(query) },
                success: function(data) {
                    if(data.message == "OK") {
                        $(".image-search-results").html(buildHtmlForImageSearch(data));
                    }
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        }
    };

    var showInsaneMessage = function(message) {
        $("div.insane-messages dl:first").append("<dd class='label label-danger'>" + message + "</dd>").parent().show();
    };

    var doArtistSanityChecks = function() {
        checkReleaseMediaTrackCount();

        var $c = $("div.release-counts-container");
        $c.find(".release-sane-indicator").remove();
        var isSane = areNoInvalidReleasesFound();
        isSane = isSane && noTracksAreMissing();
        if(isSane) {
            $c.append("<span class='release-sane-indicator release-sane label label-success' title='Artist Seems Sane!'><i class='fa fa-check-square-o fa-2x'></i></span>");
            $("#showMissingItems").hide();
        } else {
            $c.append("<span class='release-sane-indicator release-insane label label-danger' title='Artist Has Issues'><i class='fa fa-square-o fa-2x'></i></span>");
        }
    };

    var noTracksAreMissing = function() {
        return $(".artist-detail-container span.trackNumber.missing").length === 0;
    };

    var checkReleaseMediaTrackCount = function() {
        $.each($(".release"), function(i,r)
        {
            var $release = $(r);
            var foundMediaTrackCount = 0;
            $.each($release.find(".release-media"), function (i, d) {
                var $t = $(this);
                var tracksFound = $t.find("li").length;
                foundMediaTrackCount += tracksFound;
                var trackCount = parseInt($t.data('track-count'));
                var hasMissingTracks = $t.find("span.trackNumber.missing").length;
                if (tracksFound !== trackCount || hasMissingTracks > 0) {
                    var $r = $t.closest("div.release").find(".release-title");
                    var releaseName = $r.text();
                    showInsaneMessage("Release Counts Insane!, Release [" + releaseName + "]: tracksFound [" + tracksFound + "], trackCount [" + trackCount + "], hasMissingTracks [" + hasMissingTracks + "]");
                    $r.addClass("label-danger").removeClass("label-default");

                }
            });
            var releaseTrackCount = parseInt($release.data("release-track-count"));
            if(releaseTrackCount !== foundMediaTrackCount) {
                debugger;
                var $r = $release.find(".release-title");
                var releaseName = $r.text();
                showInsaneMessage("Release Counts Insane!, Release [" + releaseName + "]: mediaTracksFound [" + foundMediaTrackCount + "], releaseTrackCount [" + releaseTrackCount + "]");
                $(this).find(".release-title").addClass("label-danger").removeClass("label-default");
            }
        });
    };

    var areNoInvalidReleasesFound = function() {
        var r = $("span.release-title.label-danger").length === 0;
        if(!r) {
            showInsaneMessage("Found Invalid Releases");
        }
        return r;
    };

    var sortReleases = function(sortBy) {
        var releaseDivs = $(".release-info-container .tab-content .release");
        releaseDivs.sort(function(a, b) {
            var aTitle =  $(a).find(sortBy).text();
            var bTitle = $(b).find(sortBy).text();
            return (aTitle < bTitle) ? -1 : (aTitle > bTitle) ? 1 : 0;
        });
        $(".release-info-container .tab-content").remove(".release").append(releaseDivs);
    };

    $(function() {

        $(".tokenfield-readonly").tokenfield({
            delimiter: "|"
        });

        roadieLibrary.setFavIcon("artist-thumbnail");

        doArtistSanityChecks();

        $(".user-rating-container a.dislike").on("click", function(e) {
            var $i =  $(this).find("i:first");
            var toggle = !$i.hasClass("fa-thumbs-down");
            $.ajax({
                type: 'POST',
                url: '/user/artist/toggledislike/' + artistId + '/' + toggle,
                contentType: "application/javascript",
                success: function(data) {
                    if(data.message == "OK") {
                        roadieLibrary.showSuccessMessage("Successfully Toggled Dislike");
                        if(toggle) {
                            $i.removeClass("fa-thumbs-o-down").addClass("fa-thumbs-down");
                            $(".user-rating-container input.rating").rating('rate',0);
                            $(".rating-container input.rating").rating('rate', data.average);
                        } else {
                            $i.removeClass("fa-thumbs-down").addClass("fa-thumbs-o-down");
                        }
                    }
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });
        $(".user-rating-container a.favorite").on("click", function(e) {
            var $i =  $(this).find("i:first");
            var toggle = !$i.hasClass("fa-heart");
            $.ajax({
                type: 'POST',
                url: '/user/artist/togglefavorite/' + artistId + '/' + toggle,
                contentType: "application/javascript",
                success: function(data) {
                    if(data.message == "OK") {
                        roadieLibrary.showSuccessMessage("Successfully Toggled Favorite");
                        if(toggle) {
                            $i.removeClass("fa-heart-o").addClass("fa-heart");
                        } else {
                            $i.removeClass("fa-heart").addClass("fa-heart-o");
                        }
                    }
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });
        $(".user-rating-container input.rating").on("change", function(e) {
            $.ajax({
                type: 'POST',
                url: '/user/artist/setrating/' + artistId + '/' + $(this).rating('rate'),
                contentType: "application/javascript",
                success: function(data) {
                    if(data.message == "OK") {
                        $(".rating-container input.rating").rating('rate', data.average);
                        roadieLibrary.showSuccessMessage("Successfully Set Rating");
                    }
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });

        $(".user-rating-container span.reset-rating").on("click", function(e) {
            var $rc = $(this).siblings("input.rating");
            $.ajax({
                type: 'POST',
                url: '/user/artist/setrating/' + artistId + '/0',
                contentType: "application/javascript",
                success: function(data) {
                    if(data.message == "OK") {
                        $rc.rating('rate', 0);
                        $(".rating-container input.rating").rating('rate', data.average);
                        roadieLibrary.showSuccessMessage("Successfully Removed Rating");
                    }
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });

        $("#playAll").on("click", function(e) {
            roadieLibrary.playLoader("/artist/play/" + artistId + "/0");
        });
        $("#playAllShuffle").on("click", function(e) {
            roadieLibrary.playLoader("/artist/play/" + artistId + "/1");
        });
        $("#playTopRated").on("click", function(e) {
            roadieLibrary.playLoader("/artist/play/" + artistId + "/2");
        });
        $("#playMostPopular").on("click", function(e) {
            roadieLibrary.playLoader("/artist/play/" + artistId + "/3");
        });
        $(".artist-detail-container a.thumbnail").on("click", function(e) {
            e.preventDefault();
            var $t = $(this);
            bootbox.dialog({
                title: $t.data("title"),
                size: 'large',
                message: '<img src="' + $t.data("url") + '" style="max-width: 100%;" />'
            });
        });

        $("#scan-artist").on("click", function(e) {
            bootbox.confirm("Continue To Re-Scan Artist Release Folder(s)?", function(result) {
                if(result) {
                    $(".loader").fadeIn("slow", function() {
                        $.ajax({
                            type: 'POST',
                            url: '/artist/rescan/' + artistId,
                            contentType: "application/javascript",
                            success: function(data) {
                                if(data.message == "OK") {
                                    location.reload(true);
                                } else {
                                    roadieLibrary.showErrorMessage("An Error Occurred");
                                }
                            },
                            error:function(jq, st, error){
                                roadieLibrary.showErrorMessage(error);
                            }
                        });
                    });
                }
            });
        });

        $("#delete-artist").on("click", function(e) {
            bootbox.confirm("Continue To Delete Artist?", function(result) {
                if(result) {
                    var $t = $(this);
                    $.ajax({
                        type: 'POST',
                        url: '/artist/delete/' + artistId,
                        contentType: "application/javascript",
                        success: function(data) {
                            if(data.message == "OK") {
                                window.location.href = '/';
                            }
                        },
                        error:function(jq, st, error){
                            roadieLibrary.showErrorMessage(error);
                        }
                    });
                }
            });
        });
        $("a.setArtistImage").on("click", function(e) {
            var $t = $(this);
            var imageId = $t.parents(".context-menu").data("image-id");
            $.ajax({
                type: 'POST',
                url: '/artist/setimage/' + artistId + '/' + imageId,
                contentType: "application/javascript",
                success: function(data) {
                    $(".artist-detail-container .title img.thumb").attr("src", "/images/artist/thumbnail/" + artistId + "?" + new Date().getTime());
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });

        $("a.deleteArtistImage").on("click", function(e) {
            var $t = $(this);
            bootbox.confirm("Continue To Delete Artist Image?", function(result) {
                if(result) {
                    var imageId = $t.parents(".context-menu").data("image-id");
                    $.ajax({
                        type: 'POST',
                        url: '/artist/deleteimage/' + artistId + '/' + imageId,
                        contentType: "application/javascript",
                        success: function(data) {
                            $("img[data-image-id='" + imageId + "']").closest("div.image-container").remove();
                        },
                        error:function(jq, st, error){
                            roadieLibrary.showErrorMessage(error);
                        }
                    });
                }
            });
        });

        $("#deleteArtistReleases").on("click", function(e) {
            bootbox.confirm("Continue To Delete All Artist Releases?", function(result) {
                if(result) {
                    $.ajax({
                        type: 'POST',
                        url: '/artist/deletereleases/' + artistId,
                        contentType: "application/javascript",
                        success: function(data) {
                            if(data.message == "OK") {
                                location.reload(true);
                            }
                        },
                        error:function(jq, st, error){
                            roadieLibrary.showErrorMessage(error);
                        }
                    });
                }
            });
        });

        $("#searchInternetArtst").on("click", function() {
            var type = $(".artist-type").text();
            if(type === 'Person') {
                type = ' artist';
            } else {
                type = ' band';
            }
            roadieLibrary.doInternetSearch($("span.artist-name").text() + type);
        });

        $("div.release").on("dragstart", function(e) {
            e.dataTransfer.setData('text/plain', $(this).data("release-id"));
        }).on("dragenter dragover", function(e) {
            e.preventDefault();
            $(this).addClass("drag-highlight");
        }).on("dragleave", function(e) {
            e.preventDefault();
            $(this).removeClass("drag-highlight");
        }).on("drop", function(e) {
            e.preventDefault();
            $(this).removeClass("drag-highlight");
            var releaseIdToMerge = e.dataTransfer.getData('text/plain');
            var releaseIdMergeInto = $(this).data("release-id");
            if(releaseIdToMerge && releaseIdMergeInto) {
                var releaseToMergeTitle = $(".release[data-release-id='" + releaseIdToMerge + "']").find("span.release-title").text();
                var releaseToMergeYear = $(".release[data-release-id='" + releaseIdToMerge + "']").find("span.releasedate").text();
                var releaseMergeIntoTitle = $(this).find("span.release-title").text();
                var releaseMergeIntoYear = $(this).find("span.releasedate").text();
                bootbox.dialog({
                    title: "Merge Releases",
                    message: '<div class="row">  ' +
                        '<div class="col-md-12"> ' +
                        '<form class="form-horizontal"> ' +
                        '<div class="form-group"> ' +
                        '<div>Continue to Merge Release:</div> ' +
                        '<div><span class="label label-info">' + releaseToMergeYear + '</span><span class="label label-default">' + releaseToMergeTitle + '</span></div>' +
                        '<div>Into Release:</div> ' +
                        '<div><span class="label label-info">' + releaseMergeIntoYear + '</span><span class="label label-default"> ' + releaseMergeIntoTitle + '</span></div>' +
                        '<div class="form-group"><label class="col-md-7 control-label" for="add_as_media">Add Release as Media (ie "CD2")?</label> ' +
                        '<div class="col-md-4 checkbox"><label><input type="checkbox" name="add_as_media" id="add_as_media" value="True" checked="checked">Yes</label>' +
                        '</div></div>' +
                        '</form></div></div>',
                    buttons: {
                        cancel: {
                            label: "Cancel",
                            className: "btn-default"
                        },
                        success: {
                            label: "Save",
                            className: "btn-danger",
                            callback: function () {
                                var addAsMedia = $("input[name='add_as_media']:checked").val();
                                $(".loader").fadeIn("slow", function() {
                                    $.ajax({
                                        type: 'POST',
                                        url: '/mergereleases/' + releaseIdToMerge + '/' + releaseIdMergeInto + '/' + addAsMedia,
                                        success: function(data) {
                                            if(data.message == "OK") {
                                                location.reload(true);
                                            }
                                        },
                                        error:function(jq, st, error){
                                            roadieLibrary.showErrorMessage(error);
                                        }
                                    });
                                });
                            }
                        }
                    }
                });
            }
        });

        $("#findArtistArt").on("click", function(e) {
            if($(this).hasClass("clicked")) {
                return false;
            }
            var $that = $(this);
            $that.addClass("clicked");
            $.ajax({
                type: 'POST',
                url: '/images/find/a/' + artistId,
                contentType: "application/javascript",
                success: function(data) {
                    if(data.message == "OK") {
                        bootbox.dialog({
                            buttons: {
                                cancel: {
                                    label: "Cancel",
                                    className: "btn-default",
                                    callback: function() {
                                        $that.removeClass("clicked");
                                    }
                                },
                                save: {
                                    label: "Save",
                                    className: "btn-success",
                                    callback: function() {
                                        if(selectedCoverUrl) {
                                            $.ajax({
                                                type: 'POST',
                                                url: '/artist/setImageViaUrl/' + artistId,
                                                data: { "url": encodeURIComponent(selectedCoverUrl) },
                                                success: function(data) {
                                                    if(data.message == "OK") {
                                                        $("#artist-thumbnail").attr("src", "/images/artist/thumbnail/" + artistId + "?" + new Date().getTime());
                                                        roadieLibrary.setFavIcon("artist-thumbnail");
                                                    }
                                                    $that.removeClass("clicked");
                                                },
                                                error:function(jq, st, error){
                                                    roadieLibrary.showErrorMessage(error);
                                                }
                                            });
                                        }
                                    }
                                }
                            },
                            title: "Image Search Results",
                            message: buildHtmlForImageSearch(data)
                        });
                    }
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });

        $("#artistReleaseFilter").on("keydown", function(e) {
            if(e.keyCode == 13) {
            e.preventDefault();
            return false;
        }
        }).on("keyup", _.debounce(function(e) {
            e.preventDefault()
            e.stopPropagation();
            var filter = $(this).val();
            if(filter) {
                $(".release").fadeOut();
                $("ul.tracks li").fadeOut();
                // Find any release that matches filter
                $.each($(".release .release-title"), function (i,d) {
                    if ($(d).text().toLowerCase().indexOf(filter.toLowerCase()) > -1) {
                        $(this).closest("div.release").fadeIn();
                    }
                });
                // Find any track that matches filter
                $.each($("ul.tracks li"), function (i,d) {
                    if ($(d).text().toLowerCase().indexOf(filter.toLowerCase()) > -1) {
                        $(this).fadeIn().closest("div.release").fadeIn();
                    }
                });
            } else {
                $(".release").fadeIn();
                $("ul.tracks li").fadeIn();
            }

        }, 250));

        $("#showMissingItems").on("click", function(e) {
            var $this = $(this);
            $(".no-missing-releases").hide();
            if($this.hasClass("showing-missing")) {
                $this.html("<i class='fa fa-filter'></i> Show Missing").attr("title", "Show Only Missing Releases and Tracks");
                $(".release").fadeIn();
                $("ul.tracks li").fadeIn();
            } else {
                $this.html("<i class='fa fa-list-ol'></i> Show All").attr("title", "Show All Releases and Tracks");
                $(".release").fadeOut();
                $("ul.tracks li").fadeOut();
                $(".release .release-title.label-danger").parents(".release").fadeIn();
                $("ul.tracks li.track .trackNumber.missing").parents("li").fadeIn();
            }
            $this.toggleClass("showing-missing");
        });
        $("#sortReleasesByTitle").on("change", function(e) {
            sortReleases(".release-title");
        });
        $("#sortReleasesByReleaseYear").on("change", function(e) {
            sortReleases(".releasedate");
        });
    });

</script>
{% endblock %}