{% extends "layout.html" %}
{% block title %}Browsing : Artists{% endblock %}
{% block header_content %}
{% endblock %}
{% block body_content %}
    <div class="browse-artist-container">
        <table id="browseArtistsGrid"></table>
    </div>
{% endblock %}
{% block script_content %}
    <script type="text/javascript">
    $(function() {
        $('#browseArtistsGrid').bootstrapTable({
            ajax: function(params) {
                sort = params.data.sort ? params.data.sort : "";
                order = params.data.order ? params.data.order : "";
                search = params.data.search ? params.data.search : "";
                $.ajax({
                    url: '/api/v1.0/artists?sort='+ sort + '&order=' + order + '&limit=' + params.data.limit + '&skip=' + params.data.offset + '&inc=None&filter=' + search,
                    success: function(data) {
                        if(data.message === "OK") {
                            params.success({
                                total: data.total,
                                rows: data.rows
                            });
                            params.complete();
                        }
                    },
                    error:function(jq, st, error){
                        roadieLibrary.showErrorMessage(error);
                    }
                });
            },
            idField: 'id',
            search: true,
            pageSize: 25,
            pagination: true,
            sidePagination: 'server',
            detailView: true,
            detailFormatter: function(index,row) {
               var html = [];
                $.each(row, function (key, value) {
                    html.push('<p><b>' + key + ':</b> ' + value + '</p>');
                });
                return html.join('');
            },
            sortName: "Rating",
            sortOrder: "desc",
            columns: [
                { field: 'id', visible: false },
                { field: 'name', title: 'Name', sortable: true, formatter: function(value,row,index) {
                    var artistId = row.id;
                    var artistName = row.name;
                    var artistRating = row.artistRating;
                    var artistThumbnail = row.thumbnailUrl;
                    return '<a href="/artist/' + artistId + '"><div class="thumbnail-container pull-left"><img class="artist-thumb" src="' + artistThumbnail + '" alt="' + artistName + '" /></div><span class="label label-default">' + artistName + '</span></a><span class="user-rating-container"><input type="hidden" class="release-rating rating" data-readonly value="' + artistRating + '" /></span>';
                }},
                { field: 'rating', sortable: true, title: 'Rating' },
                { field: 'artistReleaseCount', title: '# Releases' },
                { field: 'artistTrackCount', title: '# Tracks' },
                { field: 'artistPlayedCount',  title: '# Plays' }
            ]
        });
    });
    </script>
{% endblock %}