{% extends "layout.html" %}
{% block title %}Collections{% endblock %}
{% block header_content %}
{% endblock %}
{% block body_content %}
<div class="collections-container">
    {% if current_user.is_editor() %}
    <div>
        <a class="btn btn-primary" href="/admin/collection/new/?url=/collections"><i class="fa fa-plus"></i> Add</a>
        <a id="updateAllCollections" class="btn btn-warning" href="javascript:void(0);"><i class="fa fa-bolt"></i>
            Update All</a>
    </div>
    {% endif %}
    <h4><span class="label label-primary">Collections</span></h4>
    {% for collection in collections %}
    <div class="row collection">
        <a href="/collection/{{ collection.roadieId }}">
            <div class="thumbnail-container pull-left">
                <img class="thumb" src="/images/collection/thumbnail/{{ collection.roadieId }}"
                     alt="{{ collection.name }}"/>
            </div>
            <h4>
                <span title="Found Releases In Library" class="label label-info">{{ collection.releaseCount }}</span>
                <span class="label label-default">{{ collection.name }}</span>
            </h4>
        </a>
    </div>
    {% endfor %}
    {% if notFoundEntryInfos %}
    <div class="bordered">
        {% for notFoundEntryInfo in notFoundEntryInfos|sort(attribute='artist') %}
        <div class="row not-found">
            <div class="col-md-4">
                [{{ notFoundEntryInfo['artist'] }}]
            </div>
            <div class="col-md-4">
                [{{ notFoundEntryInfo['release'] }}]
            </div>
            <div class="col-md-3">
                [{{ notFoundEntryInfo['col'] }}]
            </div>
            <div class="col-md-1">
                [{{ notFoundEntryInfo['position'] }}]
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
{% block script_content %}
<script type="text/javascript">
    $(function() {
        $("#updateAllCollections").on("click",function(e) {
            bootbox.confirm("Continue to Update All Collection(s)?", function(result) {
                if(result) {
                    $(".loader").fadeIn("slow", function() {
                        $.ajax({
                            type: 'POST',
                            url: '/collections/updateall',
                            contentType: "application/javascript",
                            success: function(data) {
                                if(data.message == "OK") {
                                    location.reload(true);
                                }
                            },
                            error:function(jq, st, error){
                                roadieLibrary.showErrorMessage(error);
                            }
                        });
                    });
                }
            });
        });
    });

</script>
{% endblock %}