{% extends "layout.html" %}
{% block title %}Duplicate Finder{% endblock %}
{% block header_content %}
{% endblock %}
{% block body_content %}
    <div class="duplicates-container">
        <h4><span class="label label-primary">Potential Duplicate Artists [{{ duplicateArtists|length }}]</span></h4>
        {% for duplicateArtist in duplicateArtists %}
        <div class="row duplicate-artists">
            <div class="col-md-5 left" data-artist-id="{{ duplicateArtist['artist'].id }}">
                <input type="checkbox" value="1" />
                <div>Name: {{ duplicateArtist['artist'].Name }}</div>
                <div>SortName {{ duplicateArtist['artist'].SortName }}</div>
            </div>
            <div class="col-md-2">
                <button class="merge merge-right btn btn-default" title="Merge Right Into Left"><- Merge</button>
                <button class="merge merge-left btn btn-default" title="Merge Left Into Right">Merge -> </button>
            </div>
            <div class="col-md-5 right" data-artist-id="{{ duplicateArtist['a'].id }}">
                <input type="checkbox" value="1" />
                <div>Name: {{ duplicateArtist['a'].Name }}</div>
                <div>Sortname: {{ duplicateArtist['a'].SortName }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
{% block script_content %}
    <script type="text/javascript">
    $(function() {
        $("div.duplicates-container button.merge").on("click", function(e) {
            var $this = $(this);
            var isRightMerge = $this.hasClass("merge-right");
            var mergeIds = [];
            var mergeIntoId;
            var findClass = isRightMerge ? ".right" : ".left";
            var idClass = isRightMerge ? ".left" : ".right";
            $.each($this.parents(".duplicate-artists").find(findClass).find("input[type='checkbox']:checked"), function(i,d) {
                mergeIds.push($(this).parent().data("artist-id"));
            });
            mergeIntoId = $this.parents(".duplicate-artists").find(idClass).data("artist-id");
            debugger;
        });
    });
    </script>
{% endblock %}