{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block header_content %}
{% endblock %}
{% block body_content %}
<div class="home-container">
    <div class="row random-releases-container clearfix">
        <h4><span class="label label-primary">Random Releases</span><a href="#" title="Randomize" class="refresh"> <i
                class="fa fa-refresh"></i></a></h4>

        <div class="random-release-container">
            {% for release in releases %}
            <div class="release pull-left" data-release-id="{{ release.id }}">
                <a href="/release/{{ release.id }}">
                    <div class="thumbnail-container">
                        <img class="" src="/images/release/thumbnail/{{ release.id }}" data-toggle="tooltip"
                             data-placement="bottom" title="{{ release.ArtistName + '<br />' + release.Title  }}"
                             alt="{{ release.Title }}"/>
                    </div>
                </a>
                <input type="hidden" class="user-rating rating" value="{{ UserRating }}"/>

                <div>
                    <button class="play btn btn-default btn-xs" title="Play"><span
                            class="glyphicon glyphicon-play"></span></button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row recently-played-container">
        <h4><span class="label label-primary">Recently Played</span></h4>

        <div class="table-responsive">
            <table id="lastPlayedTracks" class="table-track-info table table-striped table-condensed table-responsive">
                <thead>
                <tr>
                    <td>Track</td>
                    <td>Release</td>
                    <td>Artist</td>
                    <td>User</td>
                    <td>Played</td>
                </tr>
                </thead>
                <tbody>
                {% for lastPlayedInfo in lastPlayedInfos %}
                <tr>
                    <td class="track" data-track-id="{{ lastPlayedInfo.TrackId }}">
                        <span class="title label label-default pull-left">{{ lastPlayedInfo.TrackTitle }}</span>
                        <span class="hover-on play-track" title="Play Track"><i class="fa fa-play"></i></span>
                        <span class="hover-on que-track" title="Que Track"><i class="fa fa-plus"></i></span>

                        <div class="clearfix"></div>
                            <span class="user-rating-container">
                                <input type="hidden" class="track-rating user-rating rating"
                                       value="{{ lastPlayedInfo.UserRating }}"/>
                            </span>
                    </td>
                    <td class="release" data-release-id="{{ lastPlayedInfo.ReleaseId }}">
                        <a href="/release/{{ lastPlayedInfo.ReleaseId }}">
                            <div class="thumbnail-container pull-left">
                                <img class="release-thumb" src="{{ lastPlayedInfo.ReleaseThumbnail }}"
                                     alt="{{ lastPlayedInfo.ReleaseTitle }}"/>
                            </div>
                            <span class="label label-default">{{ lastPlayedInfo.ReleaseTitle }}</span>
                        </a>
                    </td>
                    <td class="artist" data-artist-id="{{ lastPlayedInfo.ArtistId }}">
                        <a href="/artist/{{ lastPlayedInfo.ArtistId }}">
                            <div class="thumbnail-container pull-left">
                                <img class="artist-thumb" src="{{ lastPlayedInfo.ArtistThumbnail }}"
                                     alt="{{ lastPlayedInfo.ArtistTitle }}"/>
                            </div>
                            <span class="label label-default">{{ lastPlayedInfo.ArtistName }}</span>
                        </a>
                    </td>
                    <td class="username" data-user-id="{{ lastPlayedInfo.UserId }}">
                        <div class="thumbnail-container pull-left">
                            <img class="user-thumb" src="{{ lastPlayedInfo.UserThumbnail }}"
                                 alt="{{ lastPlayedInfo.Username }}"/>
                        </div>
                        <span class="label label-default">{{ lastPlayedInfo.Username }}</span>
                    </td>
                    <td>
                        <span class="label label-default">{{ lastPlayedInfo.LastPlayed }}</span>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script_content %}
{% raw %}
<script id="template" type="text/x-tmpl-mustache">
        <tr>
            <td class="track" data-track-id="{{ lastPlayedInfo.TrackId }}">
                <span class="title label label-default pull-left">{{ lastPlayedInfo.TrackTitle }}</span>
                <span class="hover-on play-track" title="Play Track"><i class="fa fa-play"></i></span>
                <span class="hover-on que-track" title="Que Track"><i class="fa fa-plus"></i></span>
                <div class="clearfix"></div>
                <span class="user-rating-container"><input type="hidden" class="track-rating user-rating rating" value="{{ UserRating }}" />
                </span>
            </td>
            <td class="release" data-release-id="{{ lastPlayedInfo.ReleaseId }}">
                <a href="/release/{{ lastPlayedInfo.ReleaseId }}">
                    <div class="thumbnail-container pull-left">
                        <img class="release-thumb" src="{{ lastPlayedInfo.ReleaseThumbnail }}" alt="{{ lastPlayedInfo.ReleaseTitle }}" />
                    </div>
                    <span class="label label-default">{{ lastPlayedInfo.ReleaseTitle }}</span>
                </a>
            </td>
            <td class="artist" data-artist-id="{{ lastPlayedInfo.ArtistId }}">
                <a href="/artist/{{ lastPlayedInfo.ArtistId }}">
                    <div class="thumbnail-container pull-left">
                        <img class="artist-thumb" src="{{ lastPlayedInfo.ArtistThumbnail }}" alt="{{ lastPlayedInfo.ArtistTitle }}" />
                    </div>
                    <span class="label label-default">{{ lastPlayedInfo.ArtistName }}</span>
                </a>
            </td>
            <td class="username" data-user-id="{{ lastPlayedInfo.UserId }}">
                <div class="thumbnail-container pull-left">
                    <img class="user-thumb" src="{{ lastPlayedInfo.UserThumbnail }}" alt="{{ lastPlayedInfo.Username }}" />
                </div>
                <span class="label label-default">{{ lastPlayedInfo.Username }}</span>
            </td>
            <td>
                <span class="label label-default">{{ lastPlayedInfo.LastPlayed }}</span>
            </td>
        </tr>

</script>
<script id="randomReleaseTemplate" type="text/x-tmpl-mustache">
        <div class="release pull-left" data-release-id="{{ id }}">
            <a href="/release/{{ id }}">
                <div class="thumbnail-container">
                    <img class="" src="/images/release/thumbnail/{{ id }}" data-toggle="tooltip" data-placement="bottom"  title="{{ ArtistName }}<br />{{ Title }}" alt="{{ Title }}" />
                </div>
            </a>
            <input type="hidden" class="user-rating rating" value="{{ UserRating }}" />
            <div>
                <button class="play btn btn-default btn-xs" title="Play"><span class="glyphicon glyphicon-play"></span></button>
            </div>
        </div>

</script>
{% endraw %}
<script type="text/javascript">
    var ws;
    $(function() {
        var template = $("#template").html();
        var randomReleaseTemplate = $("#randomReleaseTemplate").html();

        Mustache.parse(template);
        Mustache.parse(randomReleaseTemplate);

        ws = new WebSocket("{{ wsRoot }}websocket/");
        ws.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var html = Mustache.render(template, data)
            $("#lastPlayedTracks > tbody > tr:first").before(html);
            $("#lastPlayedTracks").find("input.rating").rating();
        };

        $(".home-container").on("click", ".release button", function(e) {
            roadieLibrary.playLoader("/release/play/" + $(this).closest("div.release").data("release-id"));
        });

        $(".home-container .random-releases-container .refresh").on("click", function(e) {
            var $hc = $(".home-container .random-release-container");
            var count = $hc.find(".release").length;
            $.ajax({
                type: 'POST',
                url: '/release/random/' + count ,
                contentType: "application/javascript",
                success: function(data) {
                    if(data.message == "OK") {
                        var html = '';
                        $.each(data.releases, function(i,d) {
                          html += Mustache.render(randomReleaseTemplate, d );
                        });
                        $hc.html(html);
                        $hc.find("input.rating").rating();
                        $hc.find('[data-toggle="tooltip"]').tooltip({html: true});
                    }
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });

        $(".home-container .random-releases-container").on("change", "input.rating", function(e) {
            $.ajax({
                type: 'POST',
                url: '/user/release/setrating/' + $(this).closest("div.release").data("release-id") + '/' + $(this).rating('rate'),
                contentType: "application/javascript",
                success: function(data) {
                    if(data.message == "OK") {
                        roadieLibrary.showSuccessMessage("Successfully Set Rating");
                    }
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });

        $(".home-container .recently-played-container").on("change", "input.track-rating", function(e) {
            var releaseId = $(this).closest("td").siblings("td.release").data("release-id");
            $.ajax({
                type: 'POST',
                url: '/user/track/setrating/' + $(this).closest("td").data("track-id") + '/' + $(this).rating('rate'),
                contentType: "application/javascript",
                success: function(data) {
                    if(data.message == "OK") {
                        roadieLibrary.showSuccessMessage("Successfully Set Rating");
                    }
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });

        $(".home-container td.track").on("click", ".play-track", function(e) {
            var releaseId = $(this).parent().siblings("td.release").data("release-id");
            var trackid = $(this).parent().data("track-id");
            roadieLibrary.playLoader("/track/play/" + releaseId + "/" + trackid);
        });

        $(".home-container td.track").on("click", ".que-track", function(e) {
            var releaseId = $(this).parent().siblings("td.release").data("release-id");
            var trackid = $(this).parent().data("track-id");
            queManager.addToQue("track", releaseId, trackid);
        });

    });

</script>
{% endblock %}