<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ g.siteName }} - {% block title %}{% endblock %}</title>
    {% block header_content %}
    {% endblock %}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//bootswatch.com/slate/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/tokenfield-typeahead.min.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css">
</head>
<body class="roadie">
<noscript>
    <div id="noscript-warning" class="alert alert-danger alert-dismissable">Warning: JavaScript is required for this
        page to display correctly.
    </div>
</noscript>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ g.siteName }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated and current_user.has_role("Admin") %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin"><i class="fa fa-cog"></i> Admin</a></li>
                        <li><a href="/dupfinder"><i class="fa fa-files-o"></i> Duplicate Finder</a></li>
                        <li><a id="separateSingle" href="javascript:separateSingles();"><i class="fa fa-files-o"></i>
                            Separate Single Releases</a></li>
                        <li><a href="/releaseBulkEdit"><i class="fa fa-files-o"></i> Release Bulk Editor</a></li>
                        <li><a href="/singletrackreleasefinder"><i class="fa fa-files-o"></i> Single Track Release
                            Finder</a></li>
                        <li><a href="/scanStorage"><i class="fa fa-hdd-o"></i> Scan</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="username">
                    <a href="/profile/edit" title="Edit Profile">
                        <img class="avatar" alt="Avatar" src="/images/user/avatar/{{ g.user.roadieId }}"/> Hi, {{
                        g.user.username }}!
                    </a>
                </li>
                <li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
                {% endif %}
                {% if not g.user.is_authenticated %}
                <li><a href="{{ url_for('login') }}"><i class="fa fa-sign-in"></i> Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
            {% if current_user.is_authenticated %}
            <ul class="nav navbar-nav ">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fa fa-database"></i> Browse <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/browseArtists" class="browse-artists"><i class="fa fa-users fa-2x"></i> Artists</a></li>
                        <li><a href="/collections" class="browse-collections"><i class="fa fa-list-ol fa-2x"></i> Collections</a></li>
                        <li><a href="/playlists"><i class="fa fa-list-ul fa-2x"></i> Playlists</a></li>
                        <li><a href="/browseReleases" class="browse-releases"><i class="fa fa-music fa-2x"></i> Releases</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/stats"><i class="fa fa-pie-chart fa-2x"></i> Stats</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fa fa-random"></i> Random <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:roadieLibrary.playLoader('/randomizer/artist');"
                               class="random-artist"><i class="fa fa-user fa-2x"></i> Artist</a></li>
                        <li><a href="javascript:roadieLibrary.playLoader('/randomizer/release');"
                               class="random-release"><i class="fa fa-music fa-2x"></i> Release</a>
                        </li>
                        <li><a href="javascript:roadieLibrary.playLoader('/randomizer/tracksrandom');"
                               class="random-playlist"><i class="fa fa-list-ul fa-2x"></i> Tracks (Random)</a></li>
                        <li><a href="javascript:roadieLibrary.playLoader('/randomizer/tracksrated');"
                               class="random-rated-liked"><i class="fa fa-star-half-o fa-2x"></i> Tracks (Rated)</a></li>
                    </ul>
                </li>
                <li id="queMenuItem" class="que hidden">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Que <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="clear-que"><i class="fa fa-trash-o fa-2x"></i> Clear</a></li>
                        <li><a href="#" class="play-que"><i class="fa fa-pencil fa-2x"></i> Edit</a></li>
                        <li><a href="#" class="play-que"><i class="fa fa-play fa-2x"></i> Play</a></li>
                        <li><a href="#" class="save-que"><i class="fa fa-floppy-o fa-2x"></i> Save</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form">
                <div class="form-group" style="display:inline;">
                    <div class="input-group" style="display:table;">
                        <span class="input-group-addon" style="width:1%;"><span
                                class="glyphicon glyphicon-search"></span></span>
                        <input class="form-control typeahead" id="search" name="search" placeholder="Search"
                               autocomplete="off" autofocus="autofocus" type="text">
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</div>
<div class="container-fluid">
    {% block body_content %}
    {% endblock %}
</div>
<!-- /container -->
<div id="searchResults" style="display:none;"></div>
<div class="loader"></div>
<div class="downloader"></div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/2.1.3/mustache.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/extensions/export/bootstrap-table-export.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/locale/bootstrap-table-en-US.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.5/clipboard.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-context-menu.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-rating.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-filedrop.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/roadieLibrary.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/queManager.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/searchEngine.js') }}"></script>

<script>
    window.name = "roadie";
    window.user = { username: '{{ current_user }}' };
    window.user.doUseHtmlPlayer = {{ "true" if current_user.doUseHtmlPlayer else "false" }};

    var separateSingles = function() {
        bootbox.confirm("Continue To Separate Single Releases?", function(result) {
            if(result) {
                $(".loader").fadeIn("slow", function() {
                    $.ajax({
                        type: 'POST',
                        url: '/separatesinglereleases',
                        contentType: "application/javascript",
                        success: function(data) {
                            if(data.message == "OK") {
                                location.reload(true);
                            }
                        },
                        error:function(jq, st, error){
                            roadieLibrary.showErrorMessage(error);
                        }
                    });
                });
            }
        })
    };

    $(function() {

        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            $.bootstrapGrowl("{{ message }}", {
                type: 'info',
                stackup_spacing: 20
            });
          {% endfor %}
        {% endif %}
        {% endwith %}

        $('[data-toggle="tooltip"]').tooltipster({
            contentAsHTML: true
        });

        queManager.init();

        searchEngine.init({
            searchTrackThumbNailUrl: "{{ url_for('static', filename='img/track.png') }}"
        });
    });

</script>
{% block script_content %}
{% endblock %}
</body>
</html>