{% extends "layout.html" %}
{% block title %}{{ playlist.name }}{% endblock %}
{% block header_content %}
{% endblock %}
{% block body_content %}
<div class="playlist-container" data-playlist-id="{{ playlist.roadieId }}">
    <div class="release-counts-container pull-right">
        <span class="track-count">Tracks: <span class="badge" data-toggle="tooltip" data-placement="bottom"
                                                title="Total Tracks of Playlist">{{ '%04d' % counts.trackCount }}</span></span>
        <span class="length-total">Time: <span class="badge" data-toggle="tooltip" data-placement="bottom"
                                               title="Total Playtime of Playlist">{{ counts.trackDuration|format_timedelta("{days}:{hours2}:{minutes2}:{seconds2}") }}</span></span>
    </div>
    <div class="btn-toolbar edit-toolbar" role="toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <i class="fa fa-play"></i> Play <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a id="playAll" href="#">Play All</a></li>
                <li><a id="playAllShuffle" href="#">Play All (Shuffle)</a></li>
            </ul>
        </div>

       <div class="btn-group">
            <a id="delete-playlist" title="Delete This Playlist" class="btn btn-warning"><i class="fa fa-trash-o"></i> Delete</a>
           <a id="delete-selected" title="Delete Selected Tracks From This Playlist" class="btn btn-warning"><i class="fa fa-trash-o"></i> Delete Selected</a>
        </div>
    </div>
    <div class="row title bordered">
        <img class="playlist-thumb thumb pull-left" src="/images/playlist/thumbnail/{{ playlist.roadieId }}"
             alt="{{ playlist.title }}"/>
        <h2><span class="label label-default">{{ playlist.name }}</span></h2>
    </div>
    {% if duplicates|length > 1 %}
    <dvi class="row duplicates bordered">
        <h4><span class="label label-default">Detected Duplicates</span></h4>
        <a class="btn btn-warning" href="javascript:deleteDuplicates();"><i class="fa fa-magic"></i> Delete Duplicates</a>
        <table id="duplicatePlaylistTracks" class="table table-striped table-condensed table-responsive">
            <thead>
            <tr>
                <td>Track</td>
                <td>Release</td>
                <td>Artist</td>
            </tr>
            </thead>
            <tbody>
                {% for duplicate in duplicates %}
                <tr class="not-found" data-playlisttrackid="{{ duplicate['id'] }}">
                    <td>
                        {{ duplicate['trackTitle'] }}
                    </td>
                    <td>
                        {{ duplicate['releaseTitle'] }}
                    </td>
                    <td>
                        {{ duplicate['artistName'] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </dvi>
    {% endif %}
    <table id="playlistGrid"></table>
</div>
{% endblock %}
{% block script_content %}
<script type="text/javascript">
    var playlistId = '{{ playlist.roadieId }}';
    var playlistDbId = '{{ playlist.id }}';

    var $table = $('#playlistGrid');

    var doDeleteTracks = function(selectedTracks, callback) {
        $.ajax({
            type: 'POST',
            url: '/playlist/deletetracks/' + playlistId,
            data: { "selected": selectedTracks.join(",") },
            success: function(data) {
                if(data.message == "OK") {
                    if(_.isFunction(callback)) {
                        callback();
                    }
                    $table.bootstrapTable("refresh");
                }
            },
            error:function(jq, st, error){
                roadieLibrary.showErrorMessage(error);
            }
        });
    };

    var deleteDuplicates = function() {
        bootbox.confirm("Continue To Delete Duplicate Tracks?", function(result) {
            var duplicateIds = []
            $.each($("#duplicatePlaylistTracks tbody tr"), function(i,tr) {
                duplicateIds.push($(this).data("playlisttrackid"));
            });
            doDeleteTracks(duplicateIds, function() {
                $("div.duplicates").hide();
            });
        });
    };

    var getIdSelections = function() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    };

    var deleteSelected = function() {
        var selectedTracks = getIdSelections();
        if(selectedTracks.length < 1) {
            bootbox.alert("No Tracks Selected!");
            return false;
        }
        bootbox.confirm("Continue To Delete Selected Tracks?", function(result) {
            if(result) {
                doDeleteTracks(selectedTracks);
            }
        });
    };

    var playTrack = function(releaseId, trackId) {
        roadieLibrary.playLoader("/track/play/" + releaseId + "/" + trackId);
    };

    var cacheBuster = function() {
        return Math.round(new Date().getTime() / 1000);
    };

    $(function() {
        $("#playAll").on("click", function(e) {
            roadieLibrary.playLoader("/playlist/play/" + playlistId + "/0");
        });
        $("#playAllShuffle").on("click", function(e) {
            roadieLibrary.playLoader("/playlist/play/" + playlistId + "/1");
        });
        $("#delete-playlist").on("click", function(e) {
            bootbox.confirm("Continue To Delete Playlist?", function(result) {
                if(result) {
                    $(".loader").fadeIn("slow", function() {
                        $.ajax({
                            type: 'POST',
                            url: '/playlist/delete/' + playlistId,
                            contentType: "application/javascript",
                            success: function(data) {
                                if(data.message == "OK") {
                                    window.location.href = '/';
                                }
                            },
                            error:function(jq, st, error){
                                roadieLibrary.showErrorMessage(error);
                            }
                        });
                    });
                }
            });
        });
        $("#delete-selected").on("click", deleteSelected);
            $table.bootstrapTable({
                ajax: function(params) {
                    sort = params.data.sort ? params.data.sort : "";
                    order = params.data.order ? params.data.order : "";
                    search = params.data.search ? params.data.search : "";
                    $.ajax({
                        url: '/api/v1.0/playlistTracks?cb='+ cacheBuster() +'&playListId=' + playlistDbId + '&sort='+ sort + '&order=' + order + '&limit=' + params.data.limit + '&skip=' + params.data.offset + '&inc=None&filter=' + search,
                        success: function(data) {
                            if(data.message === "OK") {
                                params.success({
                                    total: data.total,
                                    rows: data.rows
                                });
                                params.complete();
                            }
                        },
                        error:function(jq, st, error){
                            roadieLibrary.showErrorMessage(error);
                        }
                    });
                },
                idField: 'id',
                search: true,
                showExport: true,
                exportDataType: 'all',
                pageList: [25, 50, 100, 500, 5000],
                pageSize: 50,
                pagination: true,
                sidePagination: 'server',
                detailView: true,
                detailFormatter: function(index,row) {
                   var html = [];
                    $.each(row, function (key, value) {
                        html.push('<p><b>' + key + ':</b> ' + value + '</p>');
                    });
                    return html.join('');
                },
                sortName: "title",
                sortOrder: "asc",
                columns: [
                    { field: 'id', visible: false },
                    { field: 'state', checkbox: true, align: 'center', valign: 'middle' },
                    { field: 'title', title: 'Track', sortable: true, formatter: function(value,row,index) {
                        return '<div class="track"><span class="title label label-default pull-left">' + row.title + '</span><span class="hover-on play-track" onclick="javascript:playTrack(\'' + row.releaseId + '\',\'' + row.trackId + '\');" title="Play Track"><i class="fa fa-play"></i></span></div>';
                    }},
                    { field: 'releaseTitle', sortable: true, title: 'Release', formatter: function(value,row, index) {
                        var thumbnail = "/images/release/thumbnail/" + row.releaseId;
                        return '<a href="/release/' + row.releaseId + '"><div class="thumbnail-container pull-left"><img class="release-thumb" src="' + thumbnail + '" alt="' + row.releaseTitle  + '" /></div><span class="label label-default">' + row.releaseTitle + '</span></a>';
                    }},
                    { field: 'artistName', sortable: true, title: 'Artist', formatter: function(value,row, index) {
                        var thumbnail = "/images/artist/thumbnail/" + row.artistId;
                        return '<a href="/artist/' + row.artistId + '"><div class="thumbnail-container pull-left"><img class="release-thumb" src="' + thumbnail + '" alt="' + row.artistName  + '" /></div><span class="label label-default">' + row.artistName + '</span></a>';
                    }}
                ]
            });


    });

</script>
{% endblock %}