{% extends "layout.html" %}
{% block title %}Playlists{% endblock %}
{% block header_content %}
{% endblock %}
{% block body_content %}
<div class="playlists-container">
    {% if current_user.is_editor() %}
    <div>
        <a class="btn btn-primary" href="/admin/playlist/new/?url=/playlists"><i class="fa fa-plus"></i> Add</a>
    </div>
    {% endif %}
    <h4><span class="label label-primary">Your Playlists</span></h4>
    {% for playlist in userPlaylists %}
    <div class="row playlist" data-playlist-id="{{ playlist.roadieId }}">
        <a href="/playlist/{{ playlist.roadieId }}">
            <div class="thumbnail-container pull-left">
                <img class="thumb" src="/images/playlist/thumbnail/{{ playlist.roadieId }}" alt="{{ playlist.name }}"/>
            </div>
            <h4><span class="label label-default">{{ playlist.name }}</span></h4>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block script_content %}
<script type="text/javascript">
    $(function() {

    });

</script>
{% endblock %}