{% extends "layout.html" %}
{% block title %}{{ release.Title }}{% endblock %}
{% block header_content %}
{% endblock %}
{% block body_content %}
    <div class="release-detail-container" data-release-id="{{ release.id }}">
        <div class="release-counts-container pull-right" data-disc-count="{{ release|calculate_release_discs }}">
            <span data-track-count="{{ release.Tracks|length }}" class="track-count">Tracks: <span class="badge" data-toggle="tooltip" data-placement="bottom" title="Total Tracks of Release">{{ '%02d' % release.Tracks|length }}</span></span>
            <span class="length-total">Time: <span class="badge" data-toggle="tooltip" data-placement="bottom" title="Total Playtime of Release">{{ release|calculate_release_tracks_Length|format_timedelta("{hours2}:{minutes2}:{seconds2}") }}</span></span>
        </div>
        <div class="btn-toolbar edit-toolbar" role="toolbar">
            <div class="btn-group">
                <a id="playAll" class="btn btn-default"><i class="fa fa-play"></i> Play</a>
                {% if current_user.has_role("Admin") or current_user.has_role("Download") %}
                <a id="downloadRelease" class="btn btn-default"><i class="fa fa-download"></i> Download</a>
                {% endif %}
            </div>

            {% if current_user.has_role("Admin") %}
              <div class="btn-group">
                <a href="/admin/release/edit/?id={{ release.id }}&amp;url=/release/{{ release.id }}" class="btn btn-warning"><i class="fa fa-edit"></i> Edit</a>
                <a id="findCoverArt" class="btn btn-warning"><i class="fa fa-picture-o"></i> Find Cover</a>
                {% if release.Artist.IsLocked == False %}
                <a id="deleteRelease" class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
                <a id="scanRelease" class="btn btn-warning"><i class="fa fa-folder-open-o"></i> Re-Scan</a>
                {% endif %}
             </div>
            {% endif %}
            {% if release.Artist.IsLocked %}
                <span class="edit-locked label label-danger"><i class="fa fa-lock fa-2x" title="Artist Is Locked"></i></span>
            {% endif %}
        </div>
        <div class="row title bordered">
            <img class="release-thumb thumb pull-left" src="/images/release/thumbnail/{{ release.id }}" alt="{{ release.Title }}" />
            <div class="release-rating-container pull-left">
                <input type="hidden" class="rating" data-readonly value="{{ release.Rating }}" />
            </div>
            <div class="artist-info">
                <img class="thumb pull-left" src="/images/artist/thumbnail/{{ release.Artist.id }}" alt="{{ release.Artist.Name }}" />
                <h5><a title="View Artist" href="/artist/{{ release.Artist.id }}"><span class="label label-info">{{ release.Artist.Name }}</span></a></h5>
            </div>
            <h2><span class="label label-default">{{ release.Title }}</span></h2>
            <div class="user-rating-container">
                <a href="#" class="dislike" title="Toggle Dislike Release"><i class="fa {{ 'fa-thumbs-down' if userRelease.IsDisliked else 'fa-thumbs-o-down'}}"></i></a>
                <span class="reset-rating fa fa-square" title="Remove Rating"></span>
                <input type="hidden" class="user-rating rating" value="{{ userRelease.Rating }}" />
                <a href="#" class="favorite" title="Toggle Favorite Release"><i class="fa {{'fa-heart' if userRelease.IsFavorite else 'fa-heart-o'}}"></i></a>
            </div>
        </div>
        <div class="row bordered">
            <div class="col-md-6">
                <h4><span class="label label-primary">Profile</span></h4>
                <div>{{ release.Profile|safe }}</div>
            </div>
            <div class="col-md-6">
                {% for image in release.Images %}
                    <div class="col-md-3">
                        <a href="javascript:void(0);"
                           data-title="{{ image.element.filename }}"
                           data-url="/images/release/{{ release.id}}/{{ image.element.grid_id }}/2048/2048"
                           target="_blank" class="thumbnail">
                            <img data-image-id="{{ image.element.grid_id }}" data-toggle="context" data-target="#context-menu-{{ image.element.grid_id }}" src="/images/release/{{ release.id}}/{{ image.element.grid_id }}/512/512" alt="Image" />
                        </a>
                    </div>
                    <div id="context-menu-{{ image.element.grid_id }}" data-image-id="{{ image.element.grid_id }}" class="context-menu">
                        <ul class="dropdown-menu" role="menu">
                        <li><a class="setReleaseImage" tabindex="-1"><i class="fa fa-file-image-o"></i> Set as Release Image</a></li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row details bordered">
            <div class="col-md-3">
                <div>
                    <h4><span class="label label-primary">Release Date</span></h4>
                    <span class="label label-default">{{ release.ReleaseDate }}</span>
                </div>
                <div>
                    <h4><span class="label label-primary">MusicBrainz Id</span></h4>
                    {% if release.MusicBrainzId %}
                    <a href="https://musicbrainz.org/release/{{ release.MusicBrainzId }}" target="_blank"><span class="label label-default">{{ release.MusicBrainzId }}</span></a>
                    {% else %}
                    <span class="label label-default">None</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <h4><span class="label label-primary">Track Count</span></h4>
                    <span id="releaseTrackCount" class="label label-default">{{ release.TrackCount }}</span>
                </div>
                <div>
                    <h4><span class="label label-primary">Disc Count</span></h4>
                    <span id="releaseDiscCount" class="label label-default">{{ release.DiscCount }}</span>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <h4><span class="label label-primary">Labels</span></h4>
                    <ul>
                        {% for label in release.Labels %}
                        <li><span class="label label-default">{{ label.Label.Name }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
               <div>
                    {% if release.Quality %}
                    <h4><span class="label label-primary">Quality</span></h4>
                    <span class="label label-default">{{ release.Quality.Name }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row lists bordered">
            <div class="col-md-3">
                {% if collectionReleases %}
                <div>
                    <h4><span class="label label-primary">Collections</span></h4>
                    <ul class="no-list-style">
                        {% for collectionRelease in collectionReleases|sort(attribute='ListNumber') %}
                        <li>
                            <a href="/collection/{{ collectionRelease.CollectionId }}">
                                <span class="label label-{{ 'success' if collectionRelease.ListNumber == 1 else 'primary'}}">{{ '%03d' % collectionRelease.ListNumber  }}</span> <span class="label label-default">{{ collectionRelease.CollectionName }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if release.AlternateNames %}
                <div>
                    <h4><span class="label label-primary">Alternate Names</span></h4>
                    <ul>
                        {% for alternateName in release.AlternateNames %}
                        <li><span class="label label-default">{{ alternateName }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="col-md-3">
                <div>
                    {% if release.Genres %}
                    <h4><span class="label label-primary">Genres</span></h4>
                    <ul>
                        {% for genre in release.Genres %}
                        <li><span class="label label-default">{{ genre.Name }}</span></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3">
                <h4><span class="label label-primary">Tags</span></h4>
                <ul>
                    {% for tag in release.Tags %}
                    <li><span class="label label-default">{{ tag }}</span></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3">
                <div>
                    {% if current_user.is_authenticated() and current_user.has_role("Admin") %}
                    <h4><span class="label label-primary">Library Folders</span></h4>
                    <ul class="folders">
                    {% for group in release|group_release_tracks_filepaths %}
                        <li>
                            <span class="length label label-info">{{ group }}</span>
                        </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div>
                    <h4><span class="label label-primary">Urls</span></h4>
                    <ul>
                        {% for url in release.Urls %}
                        <li><a href="{{ url.Url }}" target="_blank"><span class="label label-default">{{ url.Title }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row tracks bordered">
            {% if current_user.has_role("Admin") and release.Artist.IsLocked == False %}
            <div class="row insane-quick-edit">
            <div class="btn-group">
                <button id="setTrackCountToActual" class="btn btn-warning">Set Track Count To Tracks</button>
                <button id="setDiscCountToActual" class="btn btn-warning">Set Disc Count To Discs</button>
            </div>
            </div>
            {% endif %}
            {% for group in release.Tracks|sort(attribute='TrackNumber')|groupby('ReleaseMediaNumber') %}
                {% if group.grouper > 0 %}
                <div class="release-cd-container">
                    <h5 class="release-cd pull-right"><span class="label label-success">CD {{ group.grouper }}</span></h5>
                </div>
                {% endif %}
                {% for track in group.list %}
                    <div class="row track" data-track-id="{{ track.Track.id }}">
                        <div class="col-xs-1 col-sm-1 col-md-1">
                            <span class="trackNumber label label-primary">{{ '%02d' % track.TrackNumber }}</span>
                        </div>
                        <div class="col-xs-7 col-sm-7 col-md-7">
                            <span data-toggle="tooltip" data-placement="top" title="{{ track.Track.Title }}" class="title label label-default">{{ track.Track.Title }}</span>
                            {% if track.Track.PartTitles|count > 0 %}
                                <ul class="part-titles">
                                {% for parttitle in track.Track.PartTitles %}
                                    <li><span class="label label-default part-title">{{ parttitle }}</span></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1">
                            <div class="dropdown">
                              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bars"></i> <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li><a href="#" class="play-track btn btn-default"><i class="fa fa-play"></i> Play</a></li>
                                <li><a href="#" class="que-track btn btn-default"><i class="fa fa-plus"></i> Que</a></li>
                                {% if current_user.is_authenticated() and current_user.has_role("Admin") %}
                                <li><a href="#" class="edit-track btn btn-warning"><i class="fa fa-edit"></i> Edit</a></li>
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#" class="btn btn-warning"><i class="fa fa-trash-o"></i> Delete</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" data-toggle="tooltip" data-placement="left" title="Delete the Track from this Release" class="deleteRelease-track btn btn-warning"><i class="fa fa-trash-o"></i> Delete Release Track</a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="left" title="Delete the Track from this Release, and delete the Track" class="delete-track btn btn-warning"><i class="fa fa-trash-o"></i> Delete Track</a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="left" title="Delete the Track from this Releaes, and delete the Track and delete the File" class="delete-track-and-file btn btn-warning"><i class="fa fa-trash-o"></i> Delete</a></li>
                                    </ul>
                                </li>
                                {% endif %}
                              </ul>
                            </div>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <span data-track-length="{{ track.Track.Length }}" class="length label label-info">{{ track.Track.Length|format_timedelta("{hours2}:{minutes2}:{seconds2}") }}</span>
                            <span class="user-rating-container">
                                <span class="reset-rating fa fa-square" title="Remove Rating"></span>
                                <input type="hidden" class="track-rating user-rating rating" value="{{ track.UserRating }}" />
                            </span>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="meta pull-right">
            <p><span class="label label-info">Last Modified: {{ release.LastUpdated }}</span></p>
        </div>
    </div>
{% endblock %}
{% block script_content %}
    <script type="text/javascript">
    var releaseId = '{{ release.id }}';
    var selectedCoverUrl = null;

    var doTrackDelete = function(trackId, flag) {
        $.ajax({
            type: 'POST',
            url: '/releasetrack/delete/' + releaseId + "/" + trackId + "/" + flag,
            contentType: "application/javascript",
            success: function(data) {
                if(data.message == "OK") {
                    location.reload();
                }
            },
            error:function(jq, st, error){
                roadieLibrary.showErrorMessage(error);
            }
        });
    };

    var doReleaseSanityChecks = function() {
        var $c = $("div.release-counts-container");
        var $qe = $(".tracks .insane-quick-edit");
        $c.find(".track-count-indicator").remove();
        if(isReleaseSane()) {
            $c.append("<span class='track-count-indicator track-count-valid label label-success' title='Release Seems Sane!'><i class='fa fa-check-square-o fa-2x'></i></span>");
            $qe.hide();
        } else {
            $c.append("<span class='track-count-indicator track-count-valid label label-danger' title='Release Has Issues'><i class='fa fa-square-o fa-2x'></i></span>");
            $qe.fadeIn();
        }
    };

    var isReleaseSane = function() {
        return doTrackCountsMatch() && areNoTracksOfZeroLength() && doReleaseDiscCountsMatch();
    };

    var areNoTracksOfZeroLength = function() {
        var result = true;
        $.each($("div.tracks span.length"), function(i,d) {
            var $t = $(d);
            trackLength = parseInt($t.data("track-length"));
            if(trackLength < 1) {
                result = false;
                return false;
            }
        });
        return result;
    };

    var doTrackCountsMatch = function() {
        var releaseTrackCount = parseInt($("#releaseTrackCount").text());
        var foundTracks = parseInt($("span.track-count").data("track-count"));
        var sane = releaseTrackCount === foundTracks;
                if (!sane) {
            $("#releaseTrackCount").removeClass("label-default").addClass("label-danger");
        }
        return sane
    };

    var doReleaseDiscCountsMatch = function() {
        var discCount = parseInt($(".release-counts-container").data("disc-count"));
        var foundDiscs = parseInt($("#releaseDiscCount").text());
        var sane = discCount === foundDiscs;
        if (!sane) {
            $("#releaseDiscCount").removeClass("label-default").addClass("label-danger");
        }
        return sane;
    };

    var buildHtmlForImageSearch = function(data) {
        var html = '<div class="image-search-results">';
        html += '<div class="image-search-query form-group"><input class="form-control" onKeyDown="doImageSearch(event)" id="query" type="text" value="' + decodeURIComponent(data.query) + '" /></div>';
        $.each(data.data, function(i,d) {
            html += '<div class="image-search-result pull-left"><a href="#">';
            html += '<img src="' + d.url + '" />';
            html += '<div><span class="label label-default">' + d.width + 'x' + d.height + '</span></div></div>';
        });
        html += '</div>';
        html += '<script>$(".image-search-results").on("click", ".image-search-result a", function(e) { var $t = $(this); selectedCoverUrl = $t.find("img").attr("src"); $(".image-search-result").removeClass("selected"); $t.closest("div").addClass("selected"); });<\/script>';
        return html;
    };

    var doImageSearch = function(e) {
        if(e.keyCode == 13){
			e.preventDefault();
			e.stopPropagation();
            var query = $(e.target).val();
            $.ajax({
                type: 'POST',
                url: '/images/find/r/' + releaseId,
                data: { "query": encodeURIComponent(query) },
                success: function(data) {
                    if(data.message == "OK") {
                        $(".image-search-results").html(buildHtmlForImageSearch(data));
                    }
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        }
    };

    $(function() {

        doReleaseSanityChecks();

            $(".release-detail-container .title .user-rating-container a.dislike").on("click", function(e) {
                var $i =  $(this).find("i:first");
                var toggle = !$i.hasClass("fa-thumbs-down");
                $.ajax({
                    type: 'POST',
                    url: '/user/release/toggledislike/' + releaseId + '/' + toggle,
                    contentType: "application/javascript",
                    success: function(data) {
                        if(data.message == "OK") {
                            roadieLibrary.showSuccessMessage("Successfully Toggled Dislike");
                            if(toggle) {
                                $i.removeClass("fa-thumbs-o-down").addClass("fa-thumbs-down");
                                $(".user-rating-container input.rating").rating('rate',0);
                                $(".rating-container input.rating").rating('rate', data.average);
                            } else {
                                $i.removeClass("fa-thumbs-down").addClass("fa-thumbs-o-down");
                            }
                        }
                    },
                    error:function(jq, st, error){
                        roadieLibrary.showErrorMessage(error);
                    }
                });
            });
            $(".release-detail-container .title .user-rating-container a.favorite").on("click", function(e) {
                var $i =  $(this).find("i:first");
                var toggle = !$i.hasClass("fa-heart");
                $.ajax({
                    type: 'POST',
                    url: '/user/release/togglefavorite/' + releaseId + '/' + toggle,
                    contentType: "application/javascript",
                    success: function(data) {
                        if(data.message == "OK") {
                            roadieLibrary.showSuccessMessage("Successfully Toggled Favorite");
                            if(toggle) {
                                $i.removeClass("fa-heart-o").addClass("fa-heart");
                            } else {
                                $i.removeClass("fa-heart").addClass("fa-heart-o");
                            }
                        }
                    },
                    error:function(jq, st, error){
                        roadieLibrary.showErrorMessage(error);
                    }
                });
            });
            $(".title .user-rating-container input.user-rating").on("change", function(e) {
                $.ajax({
                    type: 'POST',
                    url: '/user/release/setrating/' + releaseId + '/' + $(this).rating('rate'),
                    contentType: "application/javascript",
                    success: function(data) {
                        if(data.message == "OK") {
                            $(".release-rating-container input.rating").rating('rate', data.average);
                            roadieLibrary.showSuccessMessage("Successfully Set Rating");
                        }
                    },
                    error:function(jq, st, error){
                        roadieLibrary.showErrorMessage(error);
                    }
                });
            });

        $(".title .user-rating-container span.reset-rating").on("click", function(e) {
            var $r = $(this).siblings("input.user-rating");
            $.ajax({
                type: 'POST',
                url: '/user/release/setrating/' + releaseId + '/0',
                contentType: "application/javascript",
                success: function(data) {
                    if(data.message == "OK") {
                        $r.rating('rate', 0);
                         $(".release-rating-container input.rating").rating('rate', data.average);
                        roadieLibrary.showSuccessMessage("Successfully Removed Rating");
                    }
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });

        $(".release-detail-container .tracks input.track-rating").on("change", function(e) {
            $.ajax({
                type: 'POST',
                url: '/user/track/setrating/' + releaseId + '/' + $(this).closest("div.track").data("track-id") + '/' + $(this).rating('rate'),
                contentType: "application/javascript",
                success: function(data) {
                    if(data.message == "OK") {
                        roadieLibrary.showSuccessMessage("Successfully Set Rating");
                    }
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });

        $(".release-detail-container .tracks span.reset-rating").on("click", function(e) {
            var $r = $(this).siblings("input.track-rating");
            $.ajax({
                type: 'POST',
                url: '/user/track/setrating/' + releaseId + '/' + $(this).closest("div.track").data("track-id") + '/0',
                contentType: "application/javascript",
                success: function(data) {
                    if(data.message == "OK") {
                        $r.rating('rate', 0);
                        roadieLibrary.showSuccessMessage("Successfully Removed Rating");
                    }
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });

        $(".release-detail-container a.thumbnail").on("click", function(e) {
            var $t = $(this);
            bootbox.dialog({
                title: $t.data("title"),
                size: 'large',
                message: '<img src="' + $t.data("url") + '" style="max-width: 100%;" />'
            });
        });
        $("#playAll").on("click", function(e) {
           roadieLibrary.playLoader("/release/play/" + releaseId);
        });
        $("#downloadRelease").on("click", function(e) {
            roadieLibrary.downloadRelease("/release/download/" + releaseId);
        });
        $("div.tracks a.que-track").on("click", function(e) {
            var trackid = $(this).closest("div.row").data("track-id");
            queManager.addToQue("track", releaseId, trackid);
        });
        $("div.tracks a.play-track").on("click", function(e) {
            var trackid = $(this).closest("div.row").data("track-id");
            roadieLibrary.playLoader("/track/play/" + releaseId + "/" + trackid, "Playlist");
        });
        $("div.tracks a.edit-track").on("click", function(e) {
            var trackid = $(this).closest("div.row").data("track-id");
            window.location.href = "/admin/track/edit/?id=" + trackid + "&url=/release/" + releaseId;
        });
        $("div.tracks a.deleteRelease-track").on("click", function(e) {
            var trackid = $(this).closest("div.row").data("track-id");
            bootbox.confirm("Continue To Delete Release Track?", function(result) {
                if(result) {
                    doTrackDelete(trackid, 'rt');
                }
            })
        });
        $("div.tracks a.delete-track").on("click", function(e) {
            var trackid = $(this).closest("div.row").data("track-id");
            bootbox.confirm("Continue To Delete Release Track and Track?", function(result) {
                if(result) {
                    doTrackDelete(trackid, 't');
                }
            })
        });
        $("div.tracks a.delete-track-and-file").on("click", function(e) {
            var trackid = $(this).closest("div.row").data("track-id");
            bootbox.confirm("Continue To Delete Release Track, Track and File?", function(result) {
                if(result) {
                    doTrackDelete(trackid, 'f');
                }
            })
        });
        $("#deleteRelease").on("click", function(e) {
            bootbox.confirm("Continue To Delete Release?", function(result) {
                if(result) {
                    var $t = $(this);
                    $.ajax({
                        type: 'POST',
                        url: '/release/delete/' + releaseId,
                        contentType: "application/javascript",
                        success: function(data) {
                            if(data.message == "OK") {
                                window.location.href = '/artist/{{ release.Artist.id }}';
                            }
                        },
                        error:function(jq, st, error){
                            roadieLibrary.showErrorMessage(error);
                        }
                    });
                }
            });
        });
        $("a.setReleaseImage").on("click", function(e) {
            var $t = $(this);
            var imageId = $t.parents(".context-menu").data("image-id");
            $.ajax({
                type: 'POST',
                url: '/release/setimage/' + releaseId + '/' + imageId,
                contentType: "application/javascript",
                success: function(data) {
                    $(".release-detail-container .title img.thumb.release-thumb").attr("src", "/images/release/thumbnail/" + releaseId + "?" + new Date().getTime());
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });

        $("#scanRelease").on("click", function(e) {
            bootbox.confirm("Continue To Re-Scan Release Folder(s)?", function(result) {
                if(result) {
                    $(".loader").fadeIn("slow", function() {
                        $.ajax({
                            type: 'POST',
                            url: '/release/rescan/' + releaseId,
                            contentType: "application/javascript",
                            success: function(data) {
                                if(data.message == "OK") {
                                    location.reload(true);
                                }
                            },
                            error:function(jq, st, error){
                                roadieLibrary.showErrorMessage(error);
                            }
                        });
                    });
                }
            });
        });
        $("#setTrackCountToActual").on("click", function(e) {
            bootbox.confirm("Continue To Set Track Count To Track(s)?", function(result) {
                if(result) {
                    $(".loader").fadeIn("slow", function() {
                        $.ajax({
                            type: 'POST',
                            url: '/release/setTrackCount/' + releaseId,
                            contentType: "application/javascript",
                            success: function(data) {
                                if(data.message == "OK") {
                                    location.reload(true);
                                }
                            },
                            error:function(jq, st, error){
                                roadieLibrary.showErrorMessage(error);
                            }
                        });
                    });
                }
            });
        });
        $("#setDiscCountToActual").on("click", function(e) {
            bootbox.confirm("Continue To Set Disc Count To Disc(s)?", function(result) {
                if(result) {
                    $(".loader").fadeIn("slow", function() {
                        $.ajax({
                            type: 'POST',
                            url: '/release/setDiscCount/' + releaseId,
                            contentType: "application/javascript",
                            success: function(data) {
                                if(data.message == "OK") {
                                    location.reload(true);
                                }
                            },
                            error:function(jq, st, error){
                                roadieLibrary.showErrorMessage(error);
                            }
                        });
                    });
                }
            });
        });

        $("#findCoverArt").on("click", function(e) {
            $.ajax({
                type: 'POST',
                url: '/images/find/r/' + releaseId,
                contentType: "application/javascript",
                success: function(data) {
                    if(data.message == "OK") {
                        bootbox.dialog({
                            buttons: {
                                cancel: {
                                    label: "Cancel",
                                    className: "btn-default"
                                },
                                save: {
                                    label: "Save",
                                    className: "btn-success",
                                    callback: function() {
                                        if(selectedCoverUrl) {
                                            $.ajax({
                                                type: 'POST',
                                                url: '/release/setCoverViaUrl/' + releaseId,
                                                data: { "url": encodeURIComponent(selectedCoverUrl) },
                                                success: function(data) {
                                                    if(data.message == "OK") {
                                                        $(".release-detail-container .title img.thumb.release-thumb").attr("src", "/images/release/thumbnail/" + releaseId + "?" + new Date().getTime());
                                                    }
                                                },
                                                error:function(jq, st, error){
                                                    roadieLibrary.showErrorMessage(error);
                                                }
                                            });
                                        }
                                    }
                                }
                            },
                            title: "Image Search Results",
                            message: buildHtmlForImageSearch(data)
                        });
                    }
                },
                error:function(jq, st, error){
                    roadieLibrary.showErrorMessage(error);
                }
            });
        });


    });
    </script>
{% endblock %}
