{% extends "layout.html" %}
{% block title %}{{ release.Title }}{% endblock %}
{% block header_content %}
{% endblock %}
{% block body_content %}
    <div class="release-detail-container" data-release-id="{{ release.id }}">
        <div class="release-counts-container pull-right">
            <span data-track-count="{{ release.Tracks|length }}" class="track-count">Tracks: <span class="badge" data-toggle="tooltip" data-placement="bottom" title="Total Tracks of Release">{{ '%02d' % release.Tracks|length }}</span></span>
            <span class="length-total">Time: <span class="badge" data-toggle="tooltip" data-placement="bottom" title="Total Playtime of Release">{{ release.Tracks|sum(attribute='Track.Length')|format_timedelta("{hours2}:{minutes2}:{seconds2}") }}</span></span>
        </div>
        <div class="btn-toolbar edit-toolbar" role="toolbar">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-play"></i> Play <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a id="playAll" href="#">Play All</a></li>
              </ul>
            </div>
            {% if current_user.is_authenticated() and current_user.has_role("Admin") %}
              <div class="btn-group">
                <a href="/admin/release/edit/?id={{ release.id }}&url=/release/{{ release.id }}" type="button" class="btn btn-warning"><i class="fa fa-edit"></i> Edit</a>
                <button id="delete-release" class="btn btn-warning"><i class="fa fa-trash-o"></i> Delete</button>
             </div>
            {% endif %}
        </div>
        <div class="row title bordered">
            <img class="release-thumb thumb pull-left" src="/images/release/thumbnail/{{ release.id }}" alt="{{ release.Title }}" />
            <span class="artist-info">
                <img class="thumb pull-left" src="/images/artist/thumbnail/{{ release.Artist.id }}" alt="{{ release.Artist.Name }}" />
                <h5><a title="View Artist" href="/artist/{{ release.Artist.id }}"><span class="label label-info">{{ release.Artist.Name }}</span></a></h5>
            </span>
            <h2><span class="label label-default">{{ release.Title }}</span></h2>
        </div>
        <div class="row bordered">
            <div class="col-md-6">
                <h4><span class="label label-primary">Profile</span></h4>
                <p>{{ release.Profile|safe }}</p>
            </div>
            <div class="col-md-6">
                {% for image in release.Images %}
                    <div class="col-md-3">
                        <a href="javascript:void();"
                           data-title="{{ image.element.filename }}"
                           data-url="/images/release/{{ release.id}}/{{ image.element.grid_id }}/2048/2048"
                           target="_blank" class="thumbnail">
                            <img data-image-id="{{ image.element.grid_id }}" data-toggle="context" data-target="#context-menu-{{ image.element.grid_id }}" src="/images/release/{{ release.id}}/{{ image.element.grid_id }}/512/512" alt="Image" />
                        </a>
                    </div>
                    <div id="context-menu-{{ image.element.grid_id }}" data-image-id="{{ image.element.grid_id }}" class="context-menu">
                        <ul class="dropdown-menu" role="menu">
                        <li><a class="setReleaseImage" tabindex="-1"><i class="fa fa-file-image-o"></i> Set as Release Image</a></li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row details bordered">
            <div class="col-md-3">
                <div>
                    <h4><span class="label label-primary">Release Date</span></h4>
                    <span class="label label-default">{{ release.ReleaseDate }}</span>
                </div>
                <div>
                    <h4><span class="label label-primary">MusicBrainz Id</span></h4>
                    {% if release.MusicBrainzId %}
                    <a href="https://musicbrainz.org/release/{{ release.MusicBrainzId }}" target="_blank"><span class="label label-default">{{ release.MusicBrainzId }}</span></a>
                    {% else %}
                    <span class="label label-default">None</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <h4><span class="label label-primary">Track Count</span></h4>
                    <span id="releaseTrackCount" class="label label-default">{{ release.TrackCount }}</span>
                </div>
                <div>
                    <h4><span class="label label-primary">Disc Count</span></h4>
                    <span class="label label-default">{{ release.DiscCount }}</span>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <h4><span class="label label-primary">Labels</span></h4>
                    <ul>
                        {% for label in release.Labels %}
                        <li><span class="label label-default">{{ label.Label.Name }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
               <div>
                    {% if release.Quality %}
                    <h4><span class="label label-primary">Quality</span></h4>
                    <span class="label label-default">{{ release.Quality.Name }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row lists bordered">
            <div class="col-md-3">
                <div>
                    <h4><span class="label label-primary">Collections</span></h4>
                    <ul class="no-list-style">
                        {% for collectionRelease in collectionReleases|sort(attribute='ListNumber') %}
                        <li>
                            <a href="/collection/{{ collectionRelease.CollectionId }}">
                                <span class="label label-primary">{{ '%03d' % collectionRelease.ListNumber  }}</span> <span class="label label-default">{{ collectionRelease.CollectionName }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    {% if release.AlternateNames %}
                    <h4><span class="label label-primary">Alternate Names</span></h4>
                    <ul>
                        {% for alternateName in release.AlternateNames %}
                        <li><span class="label label-default">{{ alternateName }}</span></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <h4><span class="label label-primary">Genres</span></h4>
                    <ul>
                        {% for genre in release.Genres %}
                        <li><span class="label label-default">{{ genre.Name }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <h4><span class="label label-primary">Tags</span></h4>
                <ul>
                    {% for tag in release.Tags %}
                    <li><span class="label label-default">{{ tag }}</span></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3">
                <div>
                    {% if current_user.is_authenticated() and current_user.has_role("Admin") %}
                    <h4><span class="label label-primary">Library Folders</span></h4>
                    {% for group in release.Tracks|groupby('Track.FilePath') %}
                    <ul class="folders">
                        <li>
                            <span class="length label label-info">{{ group.grouper }}</span>
                        </li>
                    </ul>
                    {% endfor %}
                    {% endif %}
                </div>
                <div>
                    <h4><span class="label label-primary">Urls</span></h4>
                    <ul>
                        {% for url in release.Urls %}
                        <li><a href="{{ url.Url }}" target="_blank"><span class="label label-default">{{ url.Title }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row tracks bordered">
            {% for track in release.Tracks|sort(attribute='TrackNumber') %}
                <div class="row track" data-track-id="{{ track.Track.id }}">
                    <div class="col-xs-1 col-sm-1 col-md-1">
                        <span class="trackNumber label label-primary">{{ '%02d' % track.TrackNumber }}</span>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8">
                        <span data-toggle="tooltip" data-placement="top" title="{{ track.Track.Title }}" class="title label label-default">{{ track.Track.Title }}</span>
                        {% if track.Track.PartTitles|count > 0 %}
                            <ul class="part-titles">
                            {% for parttitle in track.Track.PartTitles %}
                                <li><span class="label label-default part-title">{{ parttitle }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1">
                        <div class="dropdown">
                          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bars"></i> <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#" class="play-track btn btn-default" type="button"><i class="fa fa-play"></i> Play</a></li>
                            <li><a href="#" class="que-track btn btn-default" type="button"><i class="fa fa-plus"></i> Que</a></li>
                            {% if current_user.is_authenticated() and current_user.has_role("Admin") %}
                            <li><a href="#" class="edit-track btn btn-warning" type="button"><i class="fa fa-edit"></i> Edit</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#" class="btn btn-warning"><i class="fa fa-trash-o"></i> Delete</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" data-toggle="tooltip" data-placement="left" title="Delete the Track from this Release" class="delete-release-track btn btn-warning" type="button"><i class="fa fa-trash-o"></i> Delete Release Track</a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="left" title="Delete the Track from this Release, and delete the Track" class="delete-track btn btn-warning" type="button"><i class="fa fa-trash-o"></i> Delete Track</a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="left" title="Delete the Track from this Releaes, and delete the Track and delete the File" class="delete-track-and-file btn btn-warning" type="button"><i class="fa fa-trash-o"></i> Delete</a></li>
                                </ul>
                            </li>
                            {% endif %}
                          </ul>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <span class="length label label-info">{{ track.Track.Length|format_timedelta("{hours2}:{minutes2}:{seconds2}") }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="meta pull-right">
            <p><span class="label label-info">Last Modified: {{ release.LastUpdated }}</span></p>
        </div>
    </div>
{% endblock %}
{% block script_content %}
    <script type="text/javascript">
    var releaseId = '{{ release.id }}';

    var doTrackDelete = function(trackId, flag) {
        $.ajax({
            type: 'POST',
            url: '/releasetrack/delete/' + releaseId + "/" + trackid + "/" + flag,
            contentType: "application/javascript",
            success: function(data) {
                if(data.message == "OK") {
                    location.reload();
                }
            },
            error:function(jq, st, error){
                alert(error);
            }
        });
    };

    var checkIfTrackCountsMatch = function() {
        var releaseTrackCount = parseInt($("#releaseTrackCount").text());
        var foundTracks = parseInt($("span.track-count").data("track-count"));
        var $c = $("div.release-counts-container");
        $c.find(".track-count-valid").remove();
        if(releaseTrackCount === foundTracks) {
            $c.append("<span class='track-count-valid label label-success' title='Track Counts Match!'><i class='fa fa-battery-full'></i></span>");
        } else {
            $c.append("<span class='track-count-valid label label-danger' title='Track Counts Do Not Match!'><i class='fa fa-battery-empty'></i></span>");
        }
    }

    $(function() {

        checkIfTrackCountsMatch();

        $(".release-detail-container a.thumbnail").on("click", function(e) {
            var $t = $(this);
            bootbox.dialog({
                title: $t.data("title"),
                size: 'large',
                message: '<img src="' + $t.data("url") + '" style="max-width: 100%;" />'
            });
        });
        $("#playAll").on("click", function(e) {
            window.open("/release/play/" + releaseId, "Playlist");
        });
        $("div.tracks a.que-track").on("click", function(e) {
            var trackid = $(this).closest("div.row").data("track-id");
            queManager.addToQue("track", releaseId, trackid);
        });
        $("div.tracks a.play-track").on("click", function(e) {
            var trackid = $(this).closest("div.row").data("track-id");
            window.open("/track/play/" + releaseId + "/" + trackid, "Playlist");
        });
        $("div.tracks a.edit-track").on("click", function(e) {
            var trackid = $(this).closest("div.row").data("track-id");
            window.location.href = "/admin/track/edit/?id=" + trackid + "&url=/release/" + releaseId;
        });
        $("div.tracks a.delete-release-track").on("click", function(e) {
            bootbox.confirm("Continue To Delete Release Track?", function(result) {
                if(result) {
                    doTrackDelete($(this).closest("div.row").data("track-id"), 'rt');
                }
            })
        });
        $("div.tracks a.delete-track").on("click", function(e) {
            var trackid = $(this).closest("div.row").data("track-id");
            bootbox.confirm("Continue To Delete Release Track and Track?", function(result) {
                if(result) {
                    doTrackDelete($(this).closest("div.row").data("track-id"), 't');
                }
            })
        });
        $("div.tracks a.delete-track-and-file").on("click", function(e) {
            var trackid = $(this).closest("div.row").data("track-id");
            bootbox.confirm("Continue To Delete Release Track, Track and File?", function(result) {
                if(result) {
                    doTrackDelete($(this).closest("div.row").data("track-id"), 'f');
                }
            })
        });
        $("#delete-release").on("click", function(e) {
            bootbox.confirm("Continue To Delete Release?", function(result) {
                if(result) {
                    var $t = $(this);
                    $.ajax({
                        type: 'POST',
                        url: '/release/delete/' + releaseId,
                        contentType: "application/javascript",
                        success: function(data) {
                            if(data.message == "OK") {
                                window.location.href = '/artist/{{ release.Artist.id }}';
                            }
                        },
                        error:function(jq, st, error){
                            alert(error);
                        }
                    });
                }
            });
        });
        $("a.setReleaseImage").on("click", function(e) {
            var $t = $(this);
            var imageId = $t.parents(".context-menu").data("image-id");
            $.ajax({
                type: 'POST',
                url: '/release/setimage/' + releaseId + '/' + imageId,
                contentType: "application/javascript",
                success: function(data) {
                    $(".release-detail-container .title img.thumb.release-thumb").attr("src", "/images/release/thumbnail/" + releaseId + "?" + new Date().getTime());
                },
                error:function(jq, st, error){
                    alert(error);
                }
            });
        });
    });
    </script>
{% endblock %}
