{% extends "layout.html" %}
{% block header_content %}
{% endblock %}
{% block body_content %}

<style>
    .pre {
        font-family: courier, monospace;
    }
    .log-messages .info {
        color: blue;
    }
    .log-messages .warn {
        color: yellow;
    }
    .log-messages .error, .log-messages .critical, .log-messages .exception {
        color: red;
    }
</style>
<div class="container-fluid">
    <h4><span class="label label-primary">Incomplete Releases</span></h4>
     <div class="checked-release-options btn-group">
        <a id="beginScan" class="btn btn-primary" href="javascript:void(0);"><i class="fa fa-hdd-o"></i> Begin Scanl</a>
    </div>
    <div class="pre log-messages">
    </div>
</div>
{% endblock %}
{% block script_content %}
<script type="text/javascript">
    var socket = null;
    $(function() {
        ws = new WebSocket("{{ wsRoot }}websocket/");
        var $pre = $("div.pre");
        ws.onmessage = function(e) {
            var data = JSON.parse(e.data);
            $pre.append("<div class='row " + data.message.logType + "'>" + data.message.logMessage + "</div>");
        };

        $("#beginScan").on('click', function() {
            $.get('/startScanStorage');
        });
    });

</script>
{% endblock %}