{% extends "layout.html" %}
{% block title %}Stats{% endblock %}
{% block header_content %}
{% endblock %}
{% block body_content %}
    <div class="stats-container">
        <div class="row counts-header">
            <div class="release-counts-container pull-right">
                <span class="label-count">Labels: <span class="badge" data-toggle="tooltip" data-placement="bottom" title="Total Unique Labels in Library">{{ counts.labels }}</span></span>
                <span class="artist-count">Artists: <span class="badge" data-toggle="tooltip" data-placement="bottom" title="Total Unique Artists in Library">{{ counts.artists }}</span></span>
                <span class="release-count">Releases: <span class="badge" data-toggle="tooltip" data-placement="bottom" title="Total Releases in Library">{{ counts.releases }}</span></span>
                <span class="track-count">Tracks: <span class="badge" data-toggle="tooltip" data-placement="bottom" title="Total Unique Tracks in Library">{{ counts.tracks }}</span></span>
                <span class="length-total">Time: <span class="badge" data-toggle="tooltip" data-placement="bottom" title="Total Playtime of Library">{{ counts.length|format_timedelta("{days}:{hours2}:{minutes2}:{seconds2}") }}</span></span>
            </div>
            <h3><span class="label label-default">Statistics, Charts and Useless Facts</span></h3>
        </div>
        <div class="row bordered">
            <div class="col-md-6">
                <h4><span class="label label-primary">Top 10 Artists With Most Releases</span></h4>
                {% for artist,count in top10Artists %}
                <div class="col-md-9">
                    <div class="thumbnail-container pull-left">
                        <img class="thumb" src="/images/artist/thumbnail/{{ artist.id }}" alt="{{ artist.Name }}" />
                    </div>
                    <a href="/artist/{{ artist.id }}"><h4><span class="label label-default">{{ artist.Name }}</span></h4></a>
                </div>
                <div class="col-md-3">
                    <h4><span class="label label-default">{{ count }}</span></h4>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <h4><span class="label label-primary">Top 10 Artists With Most Tracks</span></h4>
                {% for artist,count in top10ArtistsByTracks %}
                <div class="col-md-9">
                    <div class="thumbnail-container pull-left">
                        <img class=" thumb" src="/images/artist/thumbnail/{{ artist.id }}" alt="{{ artist.Name }}" />
                    </div>
                    <a href="/artist/{{ artist.id }}"><h4><span class="label label-default">{{ artist.Name }}</span></h4></a>
                </div>
                <div class="col-md-3">
                    <h4><span class="label label-default">{{ count }}</span></h4>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script_content %}
    <script type="text/javascript">
    $(function() {
    });
    </script>
{% endblock %}