{% extends "layout.html" %}
{% block title %}{{ user.username }}{% endblock %}
{% block header_content %}
{% endblock %}
{% block body_content %}
<div class="user-container" data-user-id="{{ user.roadieId }}" data-db-id="{{ user.id }}">
    <div class="release-counts-container pull-right">
        <span class="track-count">Rated Artists: <span class="badge" data-toggle="tooltip" data-placement="bottom"
                                                title="Total Artists Rated By User">{{ '%04d' % counts.ratedArtistCount }}</span></span>
        <span class="track-count">Rated Releases: <span class="badge" data-toggle="tooltip" data-placement="bottom"
                                                title="Total Releases Rated By User">{{ '%05d' % counts.ratedReleaseCount }}</span></span>
        <span class="track-count">Rated Tracks: <span class="badge" data-toggle="tooltip" data-placement="bottom"
                                                title="Total Tracks Rated By User">{{ '%05d' % counts.ratedTrackCount }}</span></span>
        <span class="track-count">Played Tracks: <span class="badge" data-toggle="tooltip" data-placement="bottom"
                                                title="Total Tracks Rated By User">{{ '%06d' % (counts.tracksPlayed or 0) }}</span></span>
    </div>
    <div class="btn-toolbar edit-toolbar" role="toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                <i class="fa fa-play"></i> Play <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a id="playRatedArtists" data-type="artist" href="javascript:void(0);">Play Random Rated Artist</a></li>
                <li><a id="playRatedReleases" data-type="release" href="javascript:void(0);">Play Random Rated Release</a></li>
                <li><a id="playRatedTracks" data-type="tracks" href="javascript:void(0);">Play Random Rated Tracks</a></li>
            </ul>
        </div>
    </div>
    <div class="row title bordered">
        <img class="user-thumb thumb pull-left" src="/images/user/avatar/{{ user.roadieId }}"
             alt="{{ user.username }}"/>
        <h2><span class="label label-default">{{ user.username }}</span></h2>
    </div>
        <div class="row bordered">
            <div>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#recentlyPlayed" aria-controls="releases" role="tab" data-toggle="tab"><i class="fa fa-play-circle"></i> Recently Played</a></li>
                <li role="presentation"><a href="#ratedArtists" aria-controls="ratedArtists" role="tab" data-toggle="tab"><i class="fa fa-star-half-o"></i> Rated Artists</a></li>
                <li role="presentation"><a href="#ratedReleases" aria-controls="ratedReleases" role="tab" data-toggle="tab"><i class="fa fa-star-half-o"></i> Rated Releases</a></li>
                  <li role="presentation"><a href="#ratedTracks" aria-controls="ratedTracks" role="tab" data-toggle="tab"><i class="fa fa-star-half-o"></i> Rated Tracks</a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="recentlyPlayed">
                    <table id="recentlyPlayedGrid"></table>
                </div>
                <div role="tabpanel" class="tab-pane" id="ratedArtists">
                    <table id="userRatedArtistsGrid"></table>
                </div>
                <div role="tabpanel" class="tab-pane" id="ratedReleases">
                    <table id="userRatedReleasesGrid"></table>
                </div>
                <div role="tabpanel" class="tab-pane" id="ratedTracks">
                    <table id="userRatedTracksGrid"></table>
                </div>
              </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block script_content %}
<script type="text/javascript">
    var userId = '{{ user.roadieId }}';

    var $tRecentlyPlayedGrid = $('#recentlyPlayedGrid');
    var $tUserRatedArtistsGrid = $("#userRatedArtistsGrid");
    var $tUserRatedReleasesGrid = $("#userRatedReleasesGrid");
    var $tUserRatedTracksGrid = $("#userRatedTracksGrid");

    var setupUserRatings = function() {
        $(".user-container").find("input.rating").rating();
    };

    $(function() {

        $("#playRatedArtists,#playRatedReleases,#playRatedTracks").on("click", function() {
           roadieLibrary.playLoader('/user/' + userId + '/randomizer/' + $(this).data("type"));
        });

        $tRecentlyPlayedGrid.bootstrapTable({
            ajax: function(params) {
                sort = params.data.sort ? params.data.sort : "";
                order = params.data.order ? params.data.order : "";
                search = params.data.search ? params.data.search : "";
                $.ajax({
                    url: '/api/v1.0/user/' + userId + '/playhistory?sort='+ sort + '&order=' + order + '&limit=' + params.data.limit + '&skip=' + params.data.offset + '&inc=releaseMedia,release,artist&filter=' + search,
                    success: function(data) {
                        if(data.message === "OK") {
                            params.success({
                                total: data.total,
                                rows: data.rows
                            });
                        }
                    },
                    error:function(jq, st, error){
                        roadieLibrary.showErrorMessage(error);
                    }
                });
            },
            idField: 'id',
            search: true,
            showExport: true,
            exportDataType: 'all',
            pageSize: 25,
            pagination: true,
            sidePagination: 'server',
            detailView: true,
            detailFormatter: function(index,row) {
               var html = [];
                $.each(row, function (key, value) {
                    html.push('<p><b>' + key + ':</b> ' + value + '</p>');
                });
                return html.join('');
            },
            sortName: "lastPlayed",
            sortOrder: "desc",
            columns: [
                { field: 'id', visible: false },
                { field: 'track.title', title: 'Title', sortable: true},
                { field: 'track.release.title', sortable: true, title: 'Release', formatter: function(value,row,index) {
                    var releaseId = row.track.releaseId;
                    var title = row.track.release.title;
                    var thumbnail = "/images/release/thumbnail/" + releaseId;
                    return '<a href="/release/' + releaseId + '"><div class="thumbnail-container pull-left"><img class="release-thumb" src="' + thumbnail + '" alt="' + title + '" /></div><span class="label label-default">' + title + '</span></a>';
                }},
                { field: 'track.artist.name', sortable: true, title: 'Artist', formatter: function(value,row,index) {
                    var artistId = row.track.artist.id;
                    var name = row.track.artist.name;
                    var thumbnail = "/images/artist/thumbnail/" + row.track.artist.id;
                    return '<a href="/artist/' + artistId + '"><div class="thumbnail-container pull-left"><img class="artist-thumb" src="' + thumbnail + '" alt="' + name + '" /></div><span class="label label-default">' + name + '</span></a>';
                }},
                { field: 'lastPlayed', title: 'Played', sortable: true},
            ]
        });

        $tUserRatedArtistsGrid.bootstrapTable({
            ajax: function(params) {
                var c = _.find(this.columns, function(col) {
                    return col.field == params.data.sort;
                });
                sort = c && c.sortName ? c.sortName : (params.data.sort ? params.data.sort : "");
                order = params.data.order ? params.data.order : "";
                search = params.data.search ? params.data.search : "";
                $.ajax({
                    url: '/api/v1.0/user/' + userId + '/ratedartists?sort='+ sort + '&order=' + order + '&limit=' + params.data.limit + '&skip=' + params.data.offset + '&inc=artist&filter=' + search,
                    success: function(data) {
                        if(data.message === "OK") {
                            params.success({
                                total: data.total,
                                rows: data.rows
                            });
                        }
                    },
                    error:function(jq, st, error){
                        roadieLibrary.showErrorMessage(error);
                    }
                });
            },
            idField: 'id',
            search: true,
            showExport: true,
            exportDataType: 'all',
            pageSize: 25,
            pagination: true,
            sidePagination: 'server',
            detailView: true,
            onPostBody: function(table) {
              setupUserRatings();
            },
            detailFormatter: function(index,row) {
               var html = [];
                $.each(row, function (key, value) {
                    html.push('<p><b>' + key + ':</b> ' + value + '</p>');
                });
                return html.join('');
            },
            sortName: "rating",
            sortOrder: "desc",
            columns: [
                { field: 'artistId', visible: false },
                { field: 'artist.name', sortName: 'artist.name', sortable: true, title: 'Artist', formatter: function(value,row,index) {
                    var artistId = row.artist.id;
                    var name = row.artist.name;
                    var thumbnail = "/images/artist/thumbnail/" + row.artist.id;
                    return '<a href="/artist/' + artistId + '"><div class="thumbnail-container pull-left"><img class="artist-thumb" src="' + thumbnail + '" alt="' + name + '" /></div><span class="label label-default">' + name + '</span></a>';
                }},
                { field: 'rating', title: 'Liked / Rating', sortable: true, formatter: function(value,row,index) {
                    var part = '';
                    if(row.isDisliked) {
                        part = '<div class="pull-left disliked-rating" title="Disliked"><i class="fa fa-thumbs-down fa-2x"></i></div>'
                    } else if(row.isFavorite){
                        part = '<div class="pull-left liked-rating" title="Favorited"><i class="fa fa-heart fa-2x"></i></div>'
                    }
                    return part + '<div class="release-rating-container pull-left"><input type="hidden" class="rating" data-readonly value="' + row.rating + '"/></div>';
                }},
                { field: 'lastUpdated', title: 'Last Updated', sortable: true}
            ]
        });

        $tUserRatedReleasesGrid.bootstrapTable({
            ajax: function(params) {
                sort = params.data.sort ? params.data.sort : "";
                order = params.data.order ? params.data.order : "";
                search = params.data.search ? params.data.search : "";
                $.ajax({
                    url: '/api/v1.0/user/' + userId + '/ratedreleases?sort='+ sort + '&order=' + order + '&limit=' + params.data.limit + '&skip=' + params.data.offset + '&inc=artist&filter=' + search,
                    success: function(data) {
                        if(data.message === "OK") {
                            params.success({
                                total: data.total,
                                rows: data.rows
                            });
                        }
                    },
                    error:function(jq, st, error){
                        roadieLibrary.showErrorMessage(error);
                    }
                });
            },
            idField: 'id',
            search: true,
            showExport: true,
            exportDataType: 'all',
            pageSize: 25,
            pagination: true,
            sidePagination: 'server',
            detailView: true,
            onPostBody: function(table) {
              setupUserRatings();
            },
            detailFormatter: function(index,row) {
               var html = [];
                $.each(row, function (key, value) {
                    html.push('<p><b>' + key + ':</b> ' + value + '</p>');
                });
                return html.join('');
            },
            sortName: "rating",
            sortOrder: "desc",
            columns: [
                { field: 'releaseId', visible: false },
                { field: 'release.title', sortName:'release.title', sortable: true, title: 'Release', formatter: function(value,row,index) {
                    var releaseId = row.release.id;
                    var title = row.release.title;
                    var thumbnail = "/images/release/thumbnail/" + releaseId;
                    return '<a href="/release/' + releaseId + '"><div class="thumbnail-container pull-left"><img class="release-thumb" src="' + thumbnail + '" alt="' + title + '" /></div><span class="label label-default">' + title + '</span></a>';
                }},
                { field: 'release.artist.name', sortName: 'release.artist.name', sortable: true, title: 'Artist', formatter: function(value,row,index) {
                    var artistId = row.release.artist.id;
                    var name = row.release.artist.name;
                    var thumbnail = "/images/artist/thumbnail/" + row.release.artist.id;
                    return '<a href="/artist/' + artistId + '"><div class="thumbnail-container pull-left"><img class="artist-thumb" src="' + thumbnail + '" alt="' + name + '" /></div><span class="label label-default">' + name + '</span></a>';
                }},
                { field: 'rating', title: 'Liked / Rating', sortable: true, formatter: function(value,row,index) {
                    var part = '';
                    if(row.isDisliked) {
                        part = '<div class="pull-left disliked-rating" title="Disliked"><i class="fa fa-thumbs-down fa-2x"></i></div>'
                    } else if(row.isFavorite){
                        part = '<div class="pull-left liked-rating" title="Favorited"><i class="fa fa-heart fa-2x"></i></div>'
                    }
                    return part + '<div class="release-rating-container pull-left"><input type="hidden" class="rating" data-readonly value="' + row.rating + '"/></div>';
                }},
                { field: 'lastUpdated', title: 'Last Updated', sortable: true}
            ]
        });

        $tUserRatedTracksGrid.bootstrapTable({
            ajax: function(params) {
                sort = params.data.sort ? params.data.sort : "";
                order = params.data.order ? params.data.order : "";
                search = params.data.search ? params.data.search : "";
                $.ajax({
                    url: '/api/v1.0/user/' + userId + '/ratedtracks?sort='+ sort + '&order=' + order + '&limit=' + params.data.limit + '&skip=' + params.data.offset + '&inc=release,artist&filter=' + search,
                    success: function(data) {
                        if(data.message === "OK") {
                            params.success({
                                total: data.total,
                                rows: data.rows
                            });
                        }
                    },
                    error:function(jq, st, error){
                        roadieLibrary.showErrorMessage(error);
                    }
                });
            },
            idField: 'id',
            search: true,
            showExport: true,
            exportDataType: 'all',
            pageSize: 25,
            pagination: true,
            sidePagination: 'server',
            detailView: true,
            detailFormatter: function(index,row) {
               var html = [];
                $.each(row, function (key, value) {
                    html.push('<p><b>' + key + ':</b> ' + value + '</p>');
                });
                return html.join('');
            },
            sortName: "usertrack.rating",
            sortOrder: "desc",
            columns: [
                { field: 'id', visible: false },
                { field: 'track.title', title: 'Title', sortable: true},
                { field: 'release.title', sortName:'track.release.title', sortable: true, title: 'Release', formatter: function(value,row,index) {
                    var releaseId = row.track.releaseId;
                    var title = row.track.release.title;
                    var thumbnail = "/images/release/thumbnail/" + releaseId;
                    return '<a href="/release/' + releaseId + '"><div class="thumbnail-container pull-left"><img class="release-thumb" src="' + thumbnail + '" alt="' + title + '" /></div><span class="label label-default">' + title + '</span></a>';
                }},
                { field: 'artist.name', sortName: 'track.artist.name', sortable: true, title: 'Artist', formatter: function(value,row,index) {
                    var artistId = row.track.artist.id;
                    var name = row.track.artist.name;
                    var thumbnail = "/images/artist/thumbnail/" + row.track.artist.id;
                    return '<a href="/artist/' + artistId + '"><div class="thumbnail-container pull-left"><img class="artist-thumb" src="' + thumbnail + '" alt="' + name + '" /></div><span class="label label-default">' + name + '</span></a>';
                }},
                { field: 'rating', title: 'Liked / Rating', sortable: true, formatter: function(value,row,index) {
                    var part = '';
                    if(row.isDisliked) {
                        part = '<div class="pull-left disliked-rating" title="Disliked"><i class="fa fa-thumbs-down fa-2x"></i></div>'
                    } else if(row.isFavorite){
                        part = '<div class="pull-left liked-rating" title="Favorited"><i class="fa fa-heart fa-2x"></i></div>'
                    }
                    return part + '<div class="release-rating-container pull-left"><input type="hidden" class="rating" data-readonly value="' + row.rating + '"/></div>';
                }},
                { field: 'lastPlayed', title: 'Last Played', sortable: true}
            ]
        });


    });

</script>
{% endblock %}